<div id="add-pipeline-modal" class="modal">
  <div class="modal-background"></div>
  {# Keep the <form> outside the .modal-card head/body/footer sections #}
  <form method="post">{% csrf_token %}
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Add pipeline</p>
        <button class="delete" type="button" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        {% if pipeline_runs %}
          <div class="message is-info">
            <div class="message-body">
              <span class="icon width-1 height-1 mr-1">
                <i class="fa-solid fa-info-circle"></i>
              </span>
              <span>
                Pipeline selection is <strong>limited to add-ons</strong> as pipelines
                have already been assigned to this project.
              </span>
            </div>
          </div>
        {% endif %}
        <div class="field">
          <div class="control">
            {% for pipeline_name, pipeline_info in pipeline_choices %}
              <div class="mb-3">
                <label class="radio label mb-0">
                  <input type="radio" name="pipeline" value="{{ pipeline_name }}">
                  {{ pipeline_name }}
                </label>
                <p class="help ml-4">{{ pipeline_info.summary }}</p>
                {% if pipeline_info.available_groups %}
                  <div class="ml-2 mt-1">
                    {% for group in pipeline_info.available_groups %}
                      <label class="checkbox ml-1" for="id_{{ pipeline_name }}_{{ group }}">
                        <span class="tag is-warning has-text-weight-bold">
                          <input type="checkbox" name="selected_groups" value="{{ group }}" id="id_{{ pipeline_name }}_{{ group }}" class="mr-1">
                          {{ group }}
                        </span>
                      </label>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <footer class="modal-card-foot is-justify-content-space-between">
        <label class="checkbox" for="{{ add_pipeline_form.execute_now.id_for_label }}">
          {{ add_pipeline_form.execute_now }}
          {{ add_pipeline_form.execute_now.label }}
        </label>
        <div>
          <div class="buttons">
            <button class="button" type="button">Cancel</button>
            <button id="add-pipeline-button" name="add-pipeline-submit" class="button is-link is-no-close" type="submit">Add pipeline</button>
          </div>
        </div>
      </footer>
    </div>
  </form>
</div>