<div class="modal" id="clone-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Clone this project</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <form
      hx-post="{% url 'project_clone' project.slug %}"
      hx-target="#clone-modal-form-body"
      hx-on::after-settle="removeOverlay()">
      <section id="clone-modal-form-body" class="modal-card-body">
        {% include 'scanpipe/forms/project_clone_form.html' with form=project_clone_form %}
      </section>
      <footer class="modal-card-foot is-justify-content-flex-end">
        <div class="buttons">
          <button class="button" type="button">Cancel</button>
          <button class="button is-no-close is-link" type="submit">Clone Project</button>
        </div>
      </footer>
    </form>
  </div>
</div>