{% load humanize %}
<div class="modal" id="modal-projects-report">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Report of selected projects</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <form action="{% url 'project_action' %}" method="post" id="report-projects-form" target="_blank">{% csrf_token %}
      <section class="modal-card-body">
        <div class="field">
          <label class="label">{{ report_form.model_name.label }}</label>
          <div class="control">
            {{ report_form.model_name }}
          </div>
        </div>
        {% if page_obj.paginator.num_pages > 1 %}
          <div class="show-on-all-checked">
            <hr>
            <div class="field include-all-field">
              <label class="checkbox" for="{{ report_form.select_across.id_for_label }}">
                <input type="checkbox" name="{{ report_form.select_across.html_name }}" id="{{ report_form.select_across.id_for_label }}">
                Include all {{ paginator.count|intcomma }} projects
              </label>
              <p class="help">{{ report_form.select_across.help_text }}</p>
            </div>
          </div>
        {% endif %}
      </section>
      <input type="hidden" name="{{ report_form.url_query.html_name }}" value="{{ request.GET.urlencode }}">
      <input type="hidden" name="action" value="report">
      <footer class="modal-card-foot is-justify-content-flex-end">
        <div class="buttons">
          <button class="button has-text-weight-semibold" type="reset">Cancel</button>
          <button class="button is-success" type="button" data-action-trigger="report-projects">
            <span class="icon mr-1"><i class="fa-solid fa-download"></i></span>
            Download XLSX
          </button>
        </div>
      </footer>
    </form>
  </div>
</div>