<div class="modal" id="modal-archive">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Archive this project, are you sure?</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <form action="{% url 'project_archive' project.slug %}" method="post">{% csrf_token %}
      <section class="modal-card-body">
        <div class="notification is-warning has-text-weight-semibold">
          This project will be marked as archived and will become read-only.
          It will not appear in the project list by default anymore.
        </div>
        <p class="mb-2">
          The selected directories will be removed:
        </p>
        <div class="field">
          <label class="label">
            {{ archive_form.remove_input }}
            {{ archive_form.remove_input.label }}
          </label>
        </div>
        <div class="field">
          <label class="label">
            {{ archive_form.remove_codebase }}
            {{ archive_form.remove_codebase.label }}
          </label>
        </div>
        <div class="field">
          <label class="label">
            {{ archive_form.remove_output }}
            {{ archive_form.remove_output.label }}
          </label>
        </div>
        <p>
          Are you sure you want to do this?
        </p>
      </section>
      <footer class="modal-card-foot is-justify-content-flex-end">
        <div class="buttons">
          <button class="button has-text-weight-semibold" type="reset">No, Cancel</button>
          <button class="button is-warning is-no-close" type="submit">Yes, Archive Project</button>
        </div>
      </footer>
    </form>
  </div>
</div>