<div class="modal" id="modal-delete">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Delete this project, are you sure?</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="notification is-danger has-text-weight-semibold">
        This action cannot be undone.
      </div>
      <p class="mb-2">
        This will <strong>IRREVERSIBLY DESTROY</strong> all data related to the project
        <strong>{{ project.name }}</strong>.
      </p>
      <p class="mb-5">
        Are you sure you want to do this?
      </p>
      <p>
        Alternatively, you can <strong>"reset"</strong> the project data. This will delete all
        related database entries and all data on disk except for the input/ directory.
      </p>
    </section>
    <form action="{% url 'project_delete' project.slug %}" method="post">{% csrf_token %}
      <footer class="modal-card-foot is-justify-content-flex-end">
        <div class="buttons">
          <button class="button has-text-weight-semibold" type="reset">No, Cancel</button>
          <button class="button is-danger is-no-close" type="submit">Yes, Delete Project</button>
        </div>
      </footer>
    </form>
  </div>
</div>