{% load humanize %}
<div class="modal" id="modal-projects-reset">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Reset selected projects, are you sure?</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <form action="{% url 'project_action' %}" method="post" id="reset-projects-form">{% csrf_token %}
      <section class="modal-card-body">
        <div class="notification is-danger has-text-weight-semibold">
          This action cannot be undone.
        </div>
        <p class="mb-2">
          This action will <strong>delete all related database entries and all data on disks</strong> except for the input/ directory.
        </p>
        <p class="mb-5">
          Are you sure you want to do this?
        </p>
        <div class="field">
          <label class="label">
            {{ reset_form.keep_input }}
            {{ reset_form.keep_input.label }}
          </label>
        </div>
        <div class="field">
          <label class="label">
            {{ reset_form.restore_pipelines }}
            {{ reset_form.restore_pipelines.label }}
          </label>
        </div>
        <div class="field">
          <label class="label">
            {{ reset_form.execute_now }}
            {{ reset_form.execute_now.label }}
          </label>
        </div>
        {% if page_obj.paginator.num_pages > 1 %}
          <div class="show-on-all-checked">
            <hr>
            <div class="field include-all-field">
              <label class="checkbox" for="{{ reset_form.select_across.id_for_label }}">
                <input type="checkbox" name="{{ reset_form.select_across.html_name }}" id="{{ reset_form.select_across.id_for_label }}">
                Include all {{ paginator.count|intcomma }} projects
              </label>
              <p class="help">{{ outputs_download_form.select_across.help_text }}</p>
            </div>
          </div>
        {% endif %}
      </section>
      <input type="hidden" name="{{ reset_form.url_query.html_name }}" value="{{ request.GET.urlencode }}">
      <input type="hidden" name="action" value="reset">
      <footer class="modal-card-foot is-justify-content-flex-end">
        <div class="buttons">
          <button class="button has-text-weight-semibold" type="reset">No, Cancel</button>
          <button class="button is-danger" type="button" data-action-trigger="reset-projects">Yes, Reset Projects</button>
        </div>
      </footer>
    </form>
  </div>
</div>