<div class="modal" id="modal-reset">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Reset this project, are you sure?</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="notification is-danger has-text-weight-semibold">
        This action cannot be undone.
      </div>
      <p class="mb-2">
        This action will <strong>delete all related database entries and all data on disks</strong> except for the input/ directory.
      </p>
      <p class="mb-5">
        Are you sure you want to do this?
      </p>
    </section>
    <form action="{% url 'project_reset' project.slug %}" method="post">{% csrf_token %}
      <footer class="modal-card-foot is-flex is-justify-content-space-between">
        <button class="button has-text-weight-semibold" type="reset">No, Cancel</button>
        <button class="button is-danger is-no-close" type="submit">Yes, Reset Project</button>
      </footer>
    </form>
  </div>
</div>