<div class="modal-background"></div>
<div class="modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">{{ run.pipeline_name }}</p>
    <button class="delete" aria-label="close"></button>
  </header>
  <div class="notification is-info has-text-weight-semibold is-radiusless mb-0 py-2">
    {{ run.description }}
  </div>
  <section class="modal-card-body">
    <div class="field is-grouped is-grouped-multiline">
      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-dark">Run</span>
          {% include "scanpipe/includes/run_status_tag.html" with run=run only %}
        </div>
      </div>
      {% if run.selected_groups %}
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">Selected groups</span>
            <span class="tag is-warning">
              {% for group in run.selected_groups %}
                {% if not forloop.first %},{% endif %}
                {{ group }}
              {% endfor %}
            </span>
          </div>
        </div>
      {% endif %}
      {% if run.status == run.Status.NOT_STARTED or run.status == run.Status.QUEUED %}
        <a href="{% url 'project_delete_pipeline' project.slug run.uuid %}" class="execute-pipeline-link has-text-danger ml-2">
          <i class="fa-solid fa-trash-alt"></i>
          Delete pipeline
        </a>
        <a
          href="#" class="ml-4"
          hx-get="{% url 'project_run_step_selection' run.uuid %}"
          hx-target="#run-step-selection-box"
          hx-swap="outerHTML">
          <i class="fa-regular fa-square-check"></i>
          Select steps
        </a>
      {% endif %}
      {% if run.task_exitcode %}
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">Exit code</span>
            <span class="tag is-info">{{ run.task_exitcode }}</span>
          </div>
        </div>
      {% endif %}
      {% if run.execution_time %}
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">Execution time</span>
            <span class="tag is-info">
              {{ run.execution_time_for_display }}
            </span>
          </div>
        </div>
      {% endif %}
      {% if run.status == run.Status.RUNNING %}
        <a href="{% url 'project_stop_pipeline' project.slug run.uuid %}" class="execute-pipeline-link has-text-danger">
          <i class="fa-solid fa-ban"></i>
          Stop pipeline
        </a>
      {% endif %}
      {% if run.status == run.Status.SUCCESS and run.results_url %}
        <a href="{{ run.results_url }}" class="ml-1">
          <i class="fa-regular fa-rectangle-list"></i> View pipeline results
        </a>
      {% endif %}
    </div>
    <div id="run-step-selection-box"></div>
    <div class="field is-grouped is-grouped-multiline">
      {% if run.execution_time %}
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">ScanCode.io version</span>
            {% with run.get_diff_url as diff_url %}
              {% if diff_url %}
                <a class="tag is-info" href="{{ diff_url }}" target="_blank">
                  {{ run.scancodeio_version }}
                </a>
              {% else %}
                <span class="tag is-info">
                  {{ run.scancodeio_version }}
                </span>
              {% endif %}
            {% endwith %}
          </div>
        </div>
      {% endif %}
      {% if run.task_id %}
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">Task ID</span>
            <span class="tag is-info">{{ run.task_id }}</span>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="field is-grouped is-grouped-multiline">
      <div class="control">
        <div class="tags has-addons">
          <span class="tag is-dark">Created date</span>
          <span class="tag is-info">{{ run.created_date }}</span>
        </div>
      </div>
      {% if run.task_start_date %}
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">Start date</span>
            <span class="tag is-info">{{ run.task_start_date }}</span>
          </div>
        </div>
      {% endif %}
      {% if run.task_end_date %}
        <div class="control">
          <div class="tags has-addons">
            <span class="tag is-dark">End date</span>
            <span class="tag is-info">{{ run.task_end_date }}</span>
          </div>
        </div>
      {% endif %}
    </div>
    {% if run.log %}
      <div class="field">
        <span class="tag is-dark tag-header">Run log</span>
        <figure class="highlight log border-no-top-left-radius">
          <pre class="language-toml wrap p-1"><code>{{ run.log }}</code></pre>
        </figure>
      </div>
    {% endif %}
    {% if run.task_output %}
      <div class="field">
        <span class="tag is-dark tag-header">Task output</span>
        <figure class="highlight log border-no-top-left-radius">
          <pre class="language-python wrap p-1"><code>{{ run.task_output }}</code></pre>
        </figure>
      </div>
    {% endif %}
    {% if webhook_deliveries %}
      <hr>
      {% for webhook_delivery in webhook_deliveries %}
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-dark">Webhook delivery</span>
              <span class="tag is-info">{{ webhook_delivery.uuid }}</span>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-dark">Target URL</span>
              <span class="tag is-info">{{ webhook_delivery.target_url|truncatechars:30 }}</span>
            </div>
          </div>
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-dark">Delivered</span>
              <span class="tag is-info">{{ webhook_delivery.delivered|yesno }}</span>
            </div>
          </div>
        </div>
        {% if webhook_delivery.delivery_error %}
          <div class="field">
            <span class="tag is-dark tag-header">Delivery error</span>
            <figure class="highlight log border-no-top-left-radius">
              <pre class="language-toml wrap p-1"><code>{{ webhook_delivery.delivery_error }}</code></pre>
            </figure>
          </div>
        {% endif %}
        {% if webhook_delivery.delivered %}
          <div class="field">
            <div class="tags has-addons">
              <span class="tag is-dark">HTTP code</span>
              <span class="tag {% if webhook_delivery.success %}is-success{% else %}is-danger{% endif %}">
                {{ webhook_delivery.response_status_code }}
              </span>
            </div>
          </div>
          {% if webhook_delivery.response_text %}
            <div class="field">
              <span class="tag is-dark tag-header">Response</span>
              <figure class="highlight log border-no-top-left-radius">
                <pre class="language-toml wrap p-1"><code>{{ webhook_delivery.response_text }}</code></pre>
              </figure>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </section>
  <footer class="modal-card-foot is-justify-content-flex-end">
    <button class="button">Close</button>
  </footer>
</div>