<div id="run-detail-modal" class="modal is-desktop-size"></div>
<script>
  document.addEventListener("openModal", function(event) {
    let modal_id = event.detail.modal;
    if (modal_id !== "run-detail-modal") return;

    let $modal = document.getElementById(modal_id);
    $modal.innerHTML = "";

    let run_uuid = event.detail.$button.dataset.uuid;
    let run_detail_path = `/run/${run_uuid}/`;

    // Construct the full URL by combining the current origin and the relative path.
    // It's important to use the URL constructor, as directly providing the relative
    // path to the `fetch` function may not work correctly, especially for URLs
    // that include credentials such as "user:pass@domain.com".
    let run_detail_url = new URL(run_detail_path, window.location.origin);

    fetch(run_detail_url).then(function (response) {
      if (response.ok) {
        return response.text();
      } else {
        closeModals();
        throw Error(response.statusText);
      }
    }).then(function (html) {
      $modal.innerHTML = html;
      document.querySelectorAll('#run-detail-modal .highlight code').forEach((block) => {
        hljs.highlightBlock(block);
      });
      setupCloseModalButtons();
      let execute_pipeline_links = document.querySelector(".execute-pipeline-link");
      if (execute_pipeline_links) {
        execute_pipeline_links.addEventListener('click', displayOverlay);
      }
      htmx.process($modal);
    }).catch(function (error) {
      console.warn('Error:', error);
    });

  });
</script>