<div class="modal" id="search-syntax-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Search {{ filter.verbose_name_plural }}</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <div class="modal-card-body p-2 pb-4">
      <div class="content">
        <div class="tabs disable-hash-storage is-boxed mb-4">
          <ul class="m-0">
            <li class="is-active">
              <a data-target="tab-syntax">Syntax</a>
            </li>
            <li>
              <a data-target="tab-fields">Fields</a>
            </li>
          </ul>
        </div>
        <section id="tab-syntax" class="tab-content is-active">
          <ul class="mt-0">
            <li>
              <strong>Single Term:</strong> Enter a single word to search for exact matches.<br>
              Example: <code>file.txt</code>
            </li>
            <li>
              <strong>Quoted Phrases:</strong> Use double quotes to search for exact phrases.<br>
              Example: <code>"name version"</code>
            </li>
            <li>
              <strong>Field Searches:</strong> Specify fields to narrow down your search.<br>
              Use <code>field_name:</code> followed by your search term.<br>
              Example: <code>name:file.txt</code></li>
            <li>
              <strong>Negation:</strong> Use a hyphen (-) before a field name to exclude results.<br>
              Example: <code>-name:file.txt</code></li>
            <li>
              <strong>Lookup Types:</strong> Use lookup types to perform specific searches.
              <ul>
                <li><code>=</code>: Exact match</li>
                <li><code>^</code>: Starts with</li>
                <li><code>$</code>: Ends with</li>
                <li><code>~</code>: Contains</li>
                <li><code>&gt;</code>: Greater than</li>
                <li><code>&lt;</code>: Less than</li>
              </ul>
              Example: <code>path^:dir1</code>
            </li>
            <li>
              <strong>Multiple queries</strong> are combined with the <code>AND</code> operator.<br>
              Example: <code>name:file.txt status:scanned</code>
            </li>
          </ul>
        </section>
        <section id="tab-fields" class="tab-content">
          <ul style="columns: 2;-webkit-columns: 2;-moz-columns: 2;">
            {% for field_name in searchable_fields %}
              <li>
                <code>{{ field_name }}</code>
              </li>
            {% endfor %}
          </ul>
        </section>
      </div>
    </div>
    <footer class="modal-card-foot is-justify-content-flex-end">
      <button class="button">Close</button>
    </footer>
  </div>
</div>