<div class="content">
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Package URL</th>
        <th>License</th>
        <th>Primary language</th>
      </tr>
    </thead>
    <tbody>
      {% for package in tab_data.fields.discovered_packages.value %}
        <tr class="break-word">
          <td title="{{ package.package_uid }}">
            {# CAUTION: Avoid relying on get_absolute_url to prevent unnecessary query triggers #}
            <a href="{% url 'package_detail' project.slug package.uuid %}">{{ package.package_url }}</a>
            {% if package.is_vulnerable %}
              <a href="{% url 'package_detail' project.slug package.uuid %}#vulnerabilities">
                <i class="fa-solid fa-bug fa-sm has-text-danger" title="Vulnerabilities"></i>
              </a>
            {% endif %}
            {% if package.has_compliance_alert %}
              <a href="{% url 'package_detail' project.slug package.uuid %}#detection">
                <i class="fa-solid fa-scale-balanced fa-sm has-text-danger" title="License Compliance Error"></i>
              </a>
            {% endif %}
          </td>
          <td>
            {{ package.declared_license_expression }}
          </td>
          <td>
            {{ package.primary_language }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>