{% if tab_data.fields %}
  <div class="notification is-link has-text-weight-semibold p-3 mb-4">
    <i class="fa-solid fa-circle-info mr-1"></i>
    You are looking at the details for this software package as defined
    in the PurlDB which was scanned automatically from a public source.
  </div>
  {% if has_multiple_purldb_entries %}
    <div class="notification is-warning has-text-weight-semibold p-3 mb-4">
      <i class="fa-solid fa-warning mr-1"></i>
      Multiple packages were found in the PurlDB for "{{ object.package_url }}".<br>
      The data below corresponds to the most recent version of this package.
    </div>
  {% endif %}
  {% include 'scanpipe/tabset/tab_default.html' %}
{% else %}
  <div class="notification is-warning has-text-weight-semibold p-3 mb-4">
    <i class="fa-solid fa-triangle-exclamation mr-1"></i>
    No entries found in the PurlDB for this package.
  </div>
{% endif %}