<div class="content">
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Path</th>
        <th>Status</th>
        <th>Language</th>
        <th>License</th>
      </tr>
    </thead>
    <tbody>
      {% for resource in tab_data.fields.codebase_resources.value %}
        <tr>
          <td class="break-all">
            {% if resource.is_dir %}
              {{ resource.path }}
            {% else %}
              <a href="{% url 'resource_detail' project.slug resource.path %}">{{ resource.path }}</a>
            {% endif %}
          </td>
          <td>
            {{ resource.status }}
          </td>
          <td>
            {{ resource.programming_language }}
          </td>
          <td>
            {{ resource.detected_license_expression }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>