<div class="content">
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Package URL</th>
        <th>Type</th>
        <th>Scope</th>
        <th>Datasource ID</th>
      </tr>
    </thead>
    <tbody>
      {% for dependency in tab_data.fields.declared_dependencies.value %}
        <tr>
          <td title="{{ dependency.dependency_uid }}">
            <a href="{{ dependency.get_absolute_url }}">{{ dependency.purl }}</a>
          </td>
          <td>{{ dependency.type }}</td>
          <td class="break-normal">{{ dependency.scope }}</td>
          <td>{{ dependency.datasource_id }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>