<div class="content">
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th style="width: 220px;">Affected by</th>
        <th>Summary</th>
        <th>Analysis</th>
      </tr>
    </thead>
    <tbody>
      {% for vulnerability in tab_data.fields.affected_by_vulnerabilities.value %}
        <tr>
          <td>
            {% include 'scanpipe/includes/vulnerability_id.html' with vulnerability=vulnerability %}
          </td>
          <td>
            {% include 'scanpipe/includes/vulnerability_summary.html' with vulnerability=vulnerability only %}
          </td>
          <td>
            {% for key, value in vulnerability.cdx_vulnerability.analysis.items %}
              <strong>{{ key }}:</strong> {{ value }}{% if not forloop.last %}<br>{% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>