**/.*
**/.git
**/.gitignore
**/.github
**/.vscode
**/.idea
**/coverage
**/.aws
**/.ssh
**/.DS_Store
**/.aof
**/venv
**/.venv
**/env
**/bin
**/build
**/docs
**/dist
**/etc
**/lib
**/var
**/*.egg-info
**/.*cache
.dockerignore
.readthedocs.yaml
docker.env
.env
CHANGELOG.rst
MANIFEST.in
Makefile
Dockerfile
README.rst
docker-compose.yml
pyvenv.cfg
