# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

*.db
*.sqlite3
.installed.cfg
parts
develop-eggs
bin
eggs
downloads
lib
lib64
build
.project
.pydevproject
include
.settings
TAGS
.idea
Include
Lib
.env
Procfile
tmp
.Python
local.cfg
_build
pip-selfcheck.json
pyvenv.cfg
geckodriver.log

# Various junk and temp files
.DS_Store
*~
.*.sw[po]
.build
.ve
*.bak
var
share
selenium
local
/dist/
/.*cache/
/.venv/
/.python-version
/.pytest_cache/
/scancodeio.egg-info/
*.rdb
*.aof
.vscode
.ipynb_checkpoints

# This is only created when packaging for external redistribution
/thirdparty/
