include:
  - docker-compose.yml

name: scancodeio
services:
  purldb_scan_worker:
    build: .
    command: wait-for-it --strict --timeout=120 web:8000 -- sh -c "
        ./manage.py purldb-scan-worker --async --sleep 3"
    env_file:
      - docker.env
    volumes:
      - .env:/opt/scancodeio/.env
      - /etc/scancodeio/:/etc/scancodeio/
      - workspace:/var/scancodeio/workspace/
    depends_on:
      - db
      - web
