# Mount the local scanpipe/ directory in the containers

# This can be used to refresh fixtures from the docker container:
# $ docker compose -f docker-compose.yml -f docker-compose.dev.yml up
# $ docker compose -f docker-compose.yml -f docker-compose.dev.yml run --rm web bash
# $ SCANCODEIO_TEST_FIXTURES_REGEN=1 ./manage.py test

services:
  web:
    volumes:
      - ./scanpipe:/opt/scancodeio/scanpipe

  worker:
    volumes:
      - ./scanpipe:/opt/scancodeio/scanpipe
