version: "3.9"

services:
  db:
    image: postgres:13
    env_file:
      - docker.env
    volumes:
      - db_data:/var/lib/postgresql/data/

  redis:
    image: redis

  celery:
    build: .
    command: celery --app scancodeio worker
                    --loglevel=INFO
                    --soft-time-limit=21600 --time-limit=22000
                    --events -Ofair --prefetch-multiplier=1
    env_file:
      - docker.env
    volumes:
      - .:/opt/scancodeio/
      - /etc/scancodeio/:/etc/scancodeio/
      - workspace:/var/scancodeio/workspace/
    depends_on:
      - redis
      - db

  web:
    build: .
    command: sh -c "
        ./manage.py migrate &&
        ./manage.py collectstatic --no-input &&
        gunicorn scancodeio.wsgi:application --bind :8000 --timeout 600 --workers 3"
    env_file:
      - docker.env
    expose:
      - 8000
    volumes:
      - .:/opt/scancodeio/
      - /etc/scancodeio/:/etc/scancodeio/
      - workspace:/var/scancodeio/workspace/
      - static:/var/scancodeio/static/
    depends_on:
      - db

  nginx:
    image: nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./etc/nginx/conf.d/:/etc/nginx/conf.d/
      - static:/var/scancodeio/static/
    depends_on:
      - web

volumes:
  db_data:
  static:
  workspace:
