include *LICENSE
include *NOTICE
include *.py
include MANIFEST.in
include Makefile
include *.rst
include setup.*
include *.ini
include *.yml
include *.yaml
include *ignore
include Dockerfile
include docker*
include .VERSION

graft scancodeio
graft scanpipe
graft aboutcode
graft docs
graft etc
graft .github/workflows

prune scancodeio.egg-info
prune docs/_build
prune bin
prune tmp
prune lib
prune lib64
prune local
prune var

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
