{% extends 'scanpipe/base.html' %}
{% load static humanize %}

{% block content %}
<div class="container is-widescreen">
    {% include 'scanpipe/includes/navbar_header.html' %}
    <div class="mx-5 mb-2">{% include 'scanpipe/includes/messages.html' %}</div>

    <section class="mx-5 mb-0">
        <div class="is-flex is-justify-content-space-between">
            <h1 class="title is-4">License Detection Summary</h1>
            <a href="{% url 'license_scan' %}" class="button is-link">New Scan</a>
        </div>
    </section>

    <!-- still under implementation -->
    <div class="tabs">
      <ul>
        <li class="is-active"><a>Summary</a></li>
        <li><a>Details</a></li>
      </ul>
    </div>

    {% include 'scantext/includes/license_summary_header.html' with detected_licenses=detected_licenses %}
    <hr class="mx-1">

    <div class="info columns mb-5 mx-1">
        <div class="column is-two-third">
            <div class="is-flex is-justify-content-space-between mb-2">
                <p class="main-txt-view title is-5">Input License Text</p>
            </div>
            <div id="editor" style="height: 70vh; border: lightgrey 1px solid; position: sticky; top: 2vh;">{{ text }}</div>
        </div>
        <div class="column is-one-third">
            <p class="title is-5">Detected Licenses</p>
            <div class="card">
                {% include 'scantext/includes/license_summary_cards.html' with detected_licenses=detected_licenses %}
            </div>
        </div>
    </div>

    {% include 'scantext/includes/license_detail.html' with detected_licenses=detected_licenses %}
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'ace-1.4.12.min.js' %}" crossorigin="anonymous"></script>
<script type="text/javascript">
    let editor = ace.edit("editor", {
        mode: "ace/mode/text",
        autoScrollEditorIntoView: true,
        wrap: false,
        readOnly: true,
        showPrintMargin: false,
        highlightActiveLine: false,
        highlightGutterLine: false,
        fontSize: 15,
        foldStyle: "manual",
        fontFamily: "SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace",
    });

    const cards = document.querySelectorAll('.card-header-icon')

    document.querySelectorAll('li').forEach(li => {
        li.addEventListener('click', (event) => {
         if (!li.classList.contains('is-active')) {
            document.querySelectorAll('li').forEach(listItem => {
                listItem.classList.remove('is-active')
            })
            li.classList.add('is-active')
         }
        })
    })

    cards.forEach(card => {
      card.addEventListener('click', (event) => {
        event.preventDefault()
        content = card.parentElement.parentElement.parentElement.querySelector('.card-content').classList
        lineTag= card.parentElement.querySelector('.lines').classList
        if (content.contains('is-hidden')) {
            content.remove('is-hidden')
            lineTag.add('is-hidden')
        } else {
            content.add('is-hidden')
            lineTag.remove('is-hidden')
        }

        let key = card.getAttribute('data-key')
        let start_line = card.getAttribute('data-startline')
        let end_line = card.getAttribute('data-endline')

        setDetectedValues(key, start_line, end_line);
      })
    })

    // Range(startRow, startColumn, endRow, endColumn)
    const Range = require("ace/range").Range

    let setDetectedValues = (key, start_line, end_line) => {
      let annotations = [];
      removeAllMarkers();

        // Indexes a 0-based in ace.js
        let start_row = start_line - 1;
        let start_column = 0;
        let end_row = end_line - 1;
        let end_column = 10000;

        let range = new Range(start_row, start_column, end_row, end_column);
        editor.session.addMarker(range, "ace-marker", "fullLine");
        annotations.push({
          row: start_row,
          column: 0,
          text: key,
          type: "info",
        });

      editor.getSession().setAnnotations(annotations);
      editor.renderer.scrollToLine(start_row);
    }

    function removeAllMarkers() {
      let session = editor.getSession();
      let markers = session.getMarkers();
        for (const [key, value] of Object.entries(markers)) {
          session.removeMarker(value.id);
        }
    }

</script>
{% endblock %}
