{% extends 'scanpipe/base.html' %}
{% load static humanize %}


{% block extrahead %}
  <link rel="stylesheet" href="{% static 'billboard-3.0.1-datalab.min.css' %}" crossorigin="anonymous" />
{% endblock %}

{% block content %}
<div class="container is-widescreen">
    {% include 'scanpipe/includes/navbar_header.html' %}
    <div class="mx-5 mb-2">{% include 'scanpipe/includes/messages.html' %}</div>

    <section class="section pt-0">
      <div class="is-flex is-justify-content-space-between mb-2">
        <div class="mb-2">
          <h1 class="title is-4">License Detection Summary</h1>
        </div>
        <div>
          <a href="{% url 'license_scan' %}" class="button is-link">
            Scan Again
          </a>
        </div>
      </div>
    </section>

    <hr class="mx-5">
    {% include "scantext/includes/license_summary_level.html" with expr=expr %}

    <hr class="mx-5">

      <div class="columns">
        <div class="column is-half">
          <p class="title is-4">Input License Text</p>
           <div class="box">
             {% for line in text %}
              <p>{{line}}</p>
             {% endfor %}
           </div>
        </div>
        <div class="column is-half">
          <p class="title is-4">Detected License Errors</p>

          {% for license in expr.licenses %}

          <div class="card">
            <div class="card-header">
              <div class="card-header-title">
                  <a class="" href="{{license.homepage_url}}" title="{{license.short_name}}">{{license.name| center:"15"}}</a>
                  <p class="tag is-6 mx-1 is-light 
                  {% if license.score == 100 %}
                  is-success
                  {% else %}
                  is-warning
                  {% endif %}
                  ">{{license.score}}</p>
                  <p class="tag is-6 mx-1 is-light is-info">
                  {% if license.start_line == license.end_line %}
                    Line {{license.start_line}}
                  {% else %}
                    Lines {{license.start_line}} - {{license.end_line}}
                  {% endif %}
                  </p>
                  <p class="tag is-6 mx-1 is-light is-primary">{{license.category}}</p>
              </div>
              <p class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </p>
          </div>
          {% if license.score < 100 %}
          <div class="card-content">
              <p class="subtitle is-5">Recommended License</p>
              <p class="content">{{license}}</p>
          </div>
          {% endif %}
        </div>
        <br>
          {% endfor %}
      </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
const cards = document.querySelectorAll('.card')

// const cardsicons = document.querySelectorAll('.card-header-icon')
// cardsicons.forEach(icon => {
//   icon.addEventListener('click', (e, index) => {
//     e.preventDefault();
//     removeActiveCards();
//     console.log(e)
//     console.log(index)
//     icon.parentNode.parentNode.parentNode.querySelector('.card-content').style.display="visible"
//   })
// })

// function removeActiveCards() {
//     cards.forEach(card => {
//         card.parentNode.parentNode.parentNode.querySelector('.card-content').style.display="none"
//     })
// }
</script>
{% endblock %}