{% extends "scanpipe/base.html" %} 
{% load static humanize %} 

{% block content %}
<div class="container is-max-desktop">
    {% include 'scanpipe/includes/navbar_header.html' %}
    <div class="mx-5 mb-2">{% include 'scanpipe/includes/messages.html' %}</div>

    <section class="section pt-0">
        <div class="is-flex is-justify-content-space-between is-align-items-center mb-2">
            <div class="mb-2">
                <h1 class="title is-5">Scan License</h1>
            </div>
            <div>
                <a href="{% url 'project_list' %}" class="button is-link">Go to Projects</a>
            </div>
        </div>
        <form method="post" action="{% url 'license_scan' %}">
            {% csrf_token %}
            {{ form.input_text }}
            <div class="columns mt-1">
                <div class="file has-name is-fullwidth column is-half">
                  <label class="file-label">
                    {{ form.input_file }}
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">Choose a file to scan…</span>
                    </span>
                    <span class="file-name">/home/user/dev/license-text.txt</span>
                  </label>
                </div>
                <div class="column is-half">
                  <input type="submit" class="button is-fullwidth is-link" value="Scan License">
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock %} {% block scripts %}
<script>
    let form = document.querySelector('form');

    // form.addEventListener('submit', (event) => {

    //   if (!form["id_input_file"].files.length && !form["id_input_text"].value.length) return false;
    // });
</script>
{% endblock %} -->