{% extends 'scanpipe/base.html' %} 
{% load static humanize %} 

{% block content %}
<div class="container is-widescreen">
    {% include 'scanpipe/includes/navbar_header.html' %}
    <div class="mx-5 mb-2">{% include 'scanpipe/includes/messages.html' %}</div>

    <section class="mx-1 mb-0">
        <div class="is-flex is-justify-content-space-between">
            <h1 class="title is-4">License Detection Summary</h1>
            <a href="{% url 'license_scan' %}" class="button is-link">New Scan</a>
        </div>
    </section>

    <hr class="mx-1 mt-0">
    {% include 'scantext/includes/license_summary_level.html' with detected_licenses=detected_licenses %}
    <hr class="mx-1">

    <div class="columns mb-5 mx-1">
        <div class="column is-half">
            <p class="title is-5">Input License Text</p>
	       <div class="box" style="max-height: 68vh; overflow-y: scroll; white-space: pre-wrap;">{% for line in text %}<span >{{ line }}</span>{% endfor %}</div>
        </div>
        <div class="column is-half">
            <p class="title is-5">Detected Licenses</p>
            <div class="card">
                {% include 'scantext/includes/license_detail_card.html' with detected_licenses=detected_licenses %}     
            </div>       
        </div>
    </div>

</div>
{% endblock %} 

{% block scripts %}
<script type="text/javascript">
    const cards = document.querySelectorAll('.card-header-icon')
    
    cards.forEach(card => {
      card.addEventListener('click', (event) => {
        event.preventDefault()
        content = card.parentElement.parentElement.parentElement.querySelector('.card-content').classList
        lineTag= card.parentElement.querySelector('.lines').classList
        if (content.contains('is-hidden')) {
          content.remove('is-hidden')
          lineTag.add('is-hidden')
        } else {
          content.add('is-hidden')
          lineTag.remove('is-hidden')
        }
      })
    })  
</script>
{% endblock %}
