{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
  &rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
  &rsaquo; {% trans "Export to CSV" %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
  <p>Select the fields to be included in the output file. You can also drag and drop the fields to your preferred order.</p>
  <form method="post" target="_blank">{% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.include_fields.errors }}
    {% for hidden in form.hidden_fields %}{{ hidden }} {% endfor %}
    <table id="form-as-table">
      <thead>
        <tr>
          <th>Sort</th>
          <th><input id="select-all" type="checkbox" checked="checked" title="Select all"></th>
          <th>Field</th>
        </tr>
      </thead>
      <tbody>
        {% for sub in form.include_fields.subwidgets %}
          <tr>
            <td class="text-center" style="cursor: grab;">&#8597;&#9868;</td>
            <td class="text-center">
              <input type="checkbox" name="include_fields" value="{{ sub.choice_label }}" checked="checked" id="{{ sub.id_for_label }}">
            </td>
            <td>
              <label for="{{ sub.id_for_label }}">{{ sub.choice_label }}</label>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div style="margin-top: 10px;">
      <input type="submit" value="Export to CSV" class="default" style="float: none;">
      <a href="{% url opts|admin_urlname:'changelist' %}" class="button cancel-link">Back to list</a>
    </div>
  </form>
</div>
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ media }}
  <script src="{% static 'html5sortable-0.9.17.min.js' %}"></script>
  <script>
    (function($) {
      $(document).ready(function () {
        $("input#select-all").on('change', function() {
          $("input:checkbox").prop('checked', $(this).prop("checked"));
        });

        sortable('#form-as-table tbody', {
          items: "tr",
          forcePlaceholderSize: true,
        });
      });
    })(django.jQuery);
  </script>
{% endblock %}