{% include 'scanpipe/forms/form_errors.html' %}
<div class="field">
  <label class="label" for="{{ form.target_url.id_for_label }}">
    {{ form.target_url.label }}
  </label>
  <div class="control">
    {{ form.target_url }}
    <p class="help">{{ form.target_url.help_text }}</p>
  </div>
</div>
<div class="field">
  <label class="checkbox" for="{{ form.trigger_on_each_run.id_for_label }}">
    {{ form.trigger_on_each_run }}
    {{ form.trigger_on_each_run.label }}
  </label>
  <p class="help">{{ form.trigger_on_each_run.help_text }}</p>
</div>
<div class="field">
  <label class="checkbox" for="{{ form.include_summary.id_for_label }}">
    {{ form.include_summary }}
    {{ form.include_summary.label }}
  </label>
  <p class="help">{{ form.include_summary.help_text }}</p>
</div>
<div class="field">
  <label class="checkbox" for="{{ form.include_results.id_for_label }}">
    {{ form.include_results }}
    {{ form.include_results.label }}
  </label>
  <p class="help">{{ form.include_results.help_text }}</p>
</div>
<hr>
<div class="field">
  <label class="checkbox" for="{{ form.is_active.id_for_label }}">
    {{ form.is_active }}
    {{ form.is_active.label }}
  </label>
  <p class="help">{{ form.is_active.help_text }}</p>
</div>