{% extends "scanpipe/base.html" %}

{% block content %}
  <div class="container is-max-widescreen">
    <h2>Registered tasks</h2>
    <pre class="wrap">{{ inspector.registered }}</pre>

    <h2>Currently executing tasks</h2>
    <pre class="wrap">{{ inspector.active }}</pre>

    <h2>Reserved tasks</h2>
    <pre class="wrap">{{ inspector.reserved }}</pre>

    <h2>Scheduled (ETA) tasks</h2>
    <pre class="wrap">{{ inspector.scheduled }}</pre>

    <h2>Revoked tasks</h2>
    <pre class="wrap">{{ inspector.revoked }}</pre>

    <h2>Statistics</h2>
    <pre class="wrap">{{ inspector.stats }}</pre>
  </div>
{% endblock %}