{% extends "scanpipe/base.html" %}

{% block title %}ScanCode.io: {{ project.name }} - Errors{% endblock %}

{% block content %}
  <div id="content-header" class="container is-max-desktop mb-3">
    {% include 'scanpipe/includes/navbar_header.html' %}
    <section class="mx-5">
      <div class="is-flex is-justify-content-space-between">
        {% include 'scanpipe/includes/breadcrumb.html' with linked_project=True current="Errors" %}
        {% include 'scanpipe/includes/search_field.html' with extra_class="is-small" %}
      </div>
      {% include 'scanpipe/includes/pagination_header.html' %}
      {% include 'scanpipe/includes/filters_breadcrumb.html' with filterset=filter only %}
    </section>
  </div>

  <div class="container is-fluid mb-3">
    <div class="table-container">
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth break-word">
        {% include 'scanpipe/includes/list_view_thead.html' %}
        <tbody>
          {% for error in object_list %}
            <tr>
              <td style="max-width: 130px;">
                <a href="?model={{ error.model }}" class="is-black-link">{{ error.model }}</a>
              </td>
              <td style="max-width: 250px;">
                <div style="max-height: 200px; overflow-y: scroll;">
                  {% if error.message|length < 100 %}
                    <a href="?message={{ error.message }}" class="is-black-link">{{ error.message }}</a>
                  {% else %}
                    {{ error.message }}
                  {% endif %}
                </div>
              </td>
              <td class="break-all" style="max-width: 450px;">
                <div style="max-height: 200px; overflow-y: scroll;">
                  {% if error.details.codebase_resource_pk and error.details.codebase_resource_path %}
                    <div>
                      <strong>Codebase resource</strong>:
                      <a href="{% url 'resource_detail' project.pk error.details.codebase_resource_pk %}" target="_blank">
                        {{ error.details.codebase_resource_path }}
                      </a>
                    </div>
                  {% endif %}
                  {% for key, value in error.details.items %}
                    <strong>{{ key }}</strong>: {{ value }}<br>
                  {% endfor %}
                </div>
              </td>
              <td style="max-width: 550px;">
                <pre class="log wrap p-0" style="max-height: 150px;"><code>{{ error.traceback }}</code></pre>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% if is_paginated %}
      {% include 'scanpipe/includes/pagination.html' with page_obj=page_obj %}
    {% endif %}
  </div>
{% endblock %}