{% extends "scanpipe/base.html" %}

{% block content %}
  <div class="container is-max-desktop mb-3">
    {% include 'scanpipe/includes/navbar_header.html' %}
    <section class="mx-5">
      {% include 'scanpipe/includes/breadcrumb.html' with linked_project=True %}
      {% include 'scanpipe/includes/pagination_header.html' with verbose_name="Errors" %}
      {% include 'scanpipe/includes/filters_breadcrumb.html' with filterset=filter only %}
    </section>
  </div>

  <div class="container is-fluid mb-3">
    <div class="table-container">
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Model</th>
            <th>Message</th>
            <th>Details</th>
            <th>Traceback</th>
          </tr>
        </thead>
        <tbody>
          {% for error in object_list %}
            <tr>
              <td style="max-width: 130px;">
                <a href="?model={{ error.model }}" class="is-black-link">{{ error.model }}</a>
              </td>
              <td style="max-width: 150px;">
                <a href="?message={{ error.message }}" class="is-black-link">{{ error.message }}</a>
              </td>
              <td class="break-word" title="{{ error.details }}" style="max-width: 400px;">
                {{ error.details|truncatechars:300 }}
              </td>
              <td style="max-width: 600px;">
                <pre class="log wrap p-0" style="max-height: 130px;"><code>{{ error.traceback }}</code></pre>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% if is_paginated %}
      {% include 'scanpipe/includes/pagination.html' with page_obj=page_obj %}
    {% endif %}
  </div>
{% endblock %}