{% extends "scanpipe/base.html" %}
{% load static %}

{% block title %}ScanCode.io: {{ project.name }} - {{ object.name }}{% endblock %}

{% block content %}
  <div class="container is-max-widescreen">
    {% include 'scanpipe/includes/navbar_header.html' %}
    <div class="mx-5 mb-2">{% include 'scanpipe/includes/messages.html' %}</div>
    {% include 'scanpipe/includes/breadcrumb_detail_view.html' with object_title=object.identifier url_name="project_licenses" %}
    <div class="mx-5">{% include 'scanpipe/tabset/tabset.html' %}</div>
  </div>
{% endblock %}