{% extends "scanpipe/base.html" %}

{% block content %}
  <div class="container is-max-desktop">
    {% include 'scanpipe/includes/navbar_header.html' %}

    <section class="section pt-0">
      <div class="is-flex is-justify-content-space-between mb-2">
        {% include 'scanpipe/includes/breadcrumb.html' %}
        <a href="{% url 'project_add' %}" class="button is-link">New Project</a>
      </div>

      <div class="field">
        <form method="get">
          <p class="control has-icons-left">
            <input class="input" type="text" placeholder="Filter projects" name="{{ filter.form.search.name }}" value="{{ filter.form.search.value|default_if_none:'' }}">
            <span class="icon is-small is-left">
              <i class="fas fa-search"></i>
            </span>
          </p>
        </form>
      </div>

      {% for project in object_list %}
        {% if forloop.first %}<div class="tile is-ancestor">{% endif %}
        <div class="tile is-parent">
          <article class="tile is-child box">
            <div class="is-flex is-justify-content-space-between">
              <h2 class="subtitle mb-1 has-text-weight-semibold">
                <a href="{% url 'project_detail' project.uuid %}">{{ project }}</a>
              </h2>

              {% if project.resource_count or project.package_count %}
                <div class="dropdown is-hoverable is-right">
                  <div class="dropdown-trigger">
                    <a class="px-2" aria-haspopup="true" aria-controls="dropdown-download-{{ project.uuid }}">
                      <i class="fas fa-download"></i>
                    </a>
                  </div>
                  <div class="dropdown-menu" id="dropdown-download-{{ project.uuid }}" role="menu">
                    <div class="dropdown-content">
                      <span class="dropdown-item">
                        Download results as:
                      </span>
                      <a href="{% url 'project_results' project.uuid 'json' %}" class="dropdown-item">
                        <strong>JSON</strong>
                      </a>
                      <a href="{% url 'project_results' project.uuid 'xlsx' %}" class="dropdown-item">
                        <strong>XLSX</strong>
                      </a>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>

            <div class="my-3">
              {% include "scanpipe/includes/project_summary_level.html" with project=project title_class="subtitle" only %}
            </div>

            <section class="mt-2 mb-4">
              <nav class="panel">
                <p class="panel-heading py-2 is-size-6 has-text-weight-normal">
                  Pipelines
                </p>
                {% for run in project.runs.all %}
                  <span class="panel-block">
                    {% include "scanpipe/includes/run_status_tag.html" with run=run only %}
                    <span class="ml-2">{{ run.pipeline }}</span>
                  </span>
                {% empty %}
                  <span class="panel-block">
                    <i>No Pipelines</i>
                  </span>
                {% endfor %}
              </nav>
            </section>

            <p class="is-size-7 has-text-grey">
              {{ project.created_date }}
            </p>
          </article>
        </div>
        {% if forloop.counter|divisibleby:2 %}</div><div class="tile is-ancestor">{% endif %}
        {% if forloop.last %}</div>{% endif %}
      {% empty %}
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <article class="tile is-child box has-text-centered border-dashed">
              {% if filter.form.search.value %}
                No Projects found. <a href="{% url 'project_list' %}">Clear the search</a>
              {% else %}
                <a href="{% url 'project_add' %}">New Project</a>
              {% endif %}
            </article>
          </div>
        </div>
      {% endfor %}
    </section>
  </div>
{% endblock %}