{% extends "scanpipe/base.html" %}

{% block content %}
  <div class="container is-max-widescreen">
    {% include 'scanpipe/includes/navbar_header.html' %}
    <div class="mx-5 mb-2">{% include 'scanpipe/includes/messages.html' %}</div>
    {% include 'scanpipe/includes/breadcrumb_detail_view.html' with object_title="Settings" %}
    <hr class="mx-5 mt-0">

    <section class="mx-5 mt-3 pb-1">
      {% include 'scanpipe/forms/form_errors.html' %}

      <div class="columns">
        <div class="column is-one-quarter">
          {% include 'scanpipe/includes/project_settings_menu.html' %}
        </div>
        <div class="column">
          {% include 'scanpipe/forms/project_settings_form.html' %}
        </div>
      </div>

    </section>
  </div>

  {% include "scanpipe/modals/project_webhook_add_modal.html" %}
  {% include "scanpipe/modals/project_webhook_delete_modal.html" %}
  {% if not project.is_archived %}
    {% include "scanpipe/modals/project_archive_modal.html" %}
  {% endif %}
  {% include "scanpipe/modals/project_reset_modal.html" %}
  {% include "scanpipe/modals/project_delete_modal.html" %}
{% endblock %}

{% block scripts %}
  <script>
    // Warning: moving this to main.js breaks the "clone" modal redirect
    document.addEventListener("htmx:beforeOnLoad", function(evt) {
      if (evt.detail.xhr.getResponseHeader("HX-Redirect")) {
        evt.preventDefault();
        let targetUrl = evt.detail.xhr.getResponseHeader("HX-Redirect");
        window.location.href = targetUrl;
        window.location.reload();
      }
    });

    onSubmitOverlay = function (selector) {
      let element = document.querySelector(selector);
      if (element) {
        element.addEventListener("submit", function() {
          displayOverlay();
        });
      }
    };

    onSubmitOverlay("#modal-archive form");
    onSubmitOverlay("#modal-reset form");
    onSubmitOverlay("#modal-delete form");
    onSubmitOverlay("#modal-webhook-add form");
  </script>
{% endblock %}