{% extends "scanpipe/base.html" %}
{% load humanize %}

{% block title %}ScanCode.io: {{ project.name }}{% endblock %}

{% block content %}
  <div class="container is-max-desktop">
    <section class="section">
      <h1 class="title">
        <a href="/" class="has-text-black">
          ScanCode<span class="nexb-orange">.</span>io
        </a>
      </h1>
    </section>

    <section class="hero">
      <div class="hero-body py-1">
        <div class="container">
          <h1 class="title">
            {{ project.name }}
          </h1>
          <h2 class="subtitle">
            {{ project.created_date }}
          </h2>
          <div class="field is-grouped is-grouped-multiline">
            <div class="control">
              <div class="tags has-addons">
                <span class="tag is-dark">UUID</span>
                <span class="tag is-info">{{ project.uuid }}</span>
              </div>
            </div>
            <div class="control">
              <div class="tags has-addons">
                <span class="tag is-dark">Work directory</span>
                <span class="tag is-info">{{ project.work_directory }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr class="mx-5">
    {% include "scanpipe/includes/project_summary_level.html" with project=project title_class="title" include_pipelines=1 only %}

    <section class="section pt-0">
      {% if project.runs.all %}
        <article class="message is-success">
          <div class="message-body">
            Download results as:
            <a class="tag is-success is-medium ml-2" href="{% url 'project_results' project.uuid 'json' %}">
              JSON <i class="fas fa-download ml-1"></i>
            </a>
            <a class="tag is-success is-medium" href="{% url 'project_results' project.uuid 'xlsx' %}">
              XLSX <i class="fas fa-download ml-1"></i>
            </a>
            <a class="tag is-success is-medium" href="{% url 'project_results' project.uuid 'csv' %}">
              CSV <i class="fas fa-download ml-1"></i>
            </a>
            or
            <a class="has-text-weight-semibold" href="{% url 'project_tree' project.uuid %}">browse the codebase</a>.
          </div>
        </article>
      {% else %}
        <article class="message is-warning">
          <div class="message-body">
            <p class="block">
              Add <strong>Inputs</strong> and run a <strong>Pipeline</strong> to generate some results.
            </p>
          </div>
        </article>
      {% endif %}

      <div class="columns">
        <div class="column">
          <nav class="panel is-info">
            <p class="panel-heading py-2 is-size-6">
              Inputs
            </p>
            {% for input in project.input_root %}
              <span class="panel-block">
                <span class="panel-icon">
                  <i class="fas fa-file" aria-hidden="true"></i>
                </span>
                {{ input }}
              </span>
            {% endfor %}
            <div class="panel-block">
              <button class="button is-link is-outlined is-fullwidth">
                Add input
              </button>
            </div>
          </nav>
        </div>

        <div class="column">
          <nav class="panel is-info">
            <p class="panel-heading py-2 is-size-6">
              Pipelines
            </p>
            {% for run in project.runs.all %}
              <a class="panel-block modal-button" data-target="{{ run.uuid }}-modal" aria-haspopup="true">
                {% include "scanpipe/includes/run_status_tag.html" with run=run only %}
                <span class="ml-2">{{ run.pipeline }}</span>
              </a>
              {% include "scanpipe/includes/run_modal.html" with run=run only %}
            {% endfor %}
            <div class="panel-block">
              <button class="button is-link is-outlined is-fullwidth">
                Add pipeline
              </button>
            </div>
          </nav>
        </div>

      </div>
    </section>

    {% if project.discoveredpackages.count %}
      <hr class="mx-5">
      <h3 class="title is-4 mx-5 has-text-centered">
        Discovered Packages: {{ project.discoveredpackages.count|intcomma }}
      </h3>
      <div class="columns">
        <div class="column">
          <p class="heading has-text-centered has-text-weight-semibold">Package Types</p>
          <canvas id="packageTypeChart"></canvas>
        </div>
        <div class="column">
          <p class="heading has-text-centered has-text-weight-semibold">Package Licenses</p>
          <canvas id="packageLicenseChart"></canvas>
        </div>
      </div>
    {% endif %}

    {% if project.codebaseresources.count %}
      <hr class="mx-5">
      <h3 class="title is-4 mx-5 has-text-centered">
        Codebase Resources: {{ project.codebaseresources.count|intcomma }}
      </h3>
      <div class="columns">
        <div class="column">
          <p class="heading has-text-centered has-text-weight-semibold">Programming Languages</p>
          <canvas id="programmingLanguageChart"></canvas>
        </div>
        <div class="column">
          <p class="heading has-text-centered has-text-weight-semibold">Mime Types</p>
          <canvas id="mimeTypeChart"></canvas>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <p class="heading has-text-centered has-text-weight-semibold">Holders</p>
          <canvas id="holderChart"></canvas>
        </div>
        <div class="column">
          <p class="heading has-text-centered has-text-weight-semibold">License keys</p>
          <canvas id="licenseChart"></canvas>
        </div>
      </div>
      <div class="columns">
        <div class="column is-half">
          <p class="heading has-text-centered has-text-weight-semibold">Package orphans</p>
          <canvas id="packageOrphanChart"></canvas>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block scripts %}
  {% include "scanpipe/includes/modal.js.html" %}
  <script src="https://www.chartjs.org/dist/2.9.4/Chart.min.js"></script>
  {{ programming_languages|json_script:"programming_languages" }}
  {{ mime_types|json_script:"mime_types" }}
  {{ holders|json_script:"holders" }}
  {{ licenses|json_script:"licenses" }}
  {{ package_orphans|json_script:"package_orphans" }}
  {{ package_licenses|json_script:"package_licenses" }}
  {{ package_types|json_script:"package_types" }}
  <script>
    let makeChart = function(data_source_id, element_id) {
      let data = JSON.parse(document.getElementById(data_source_id).textContent);
      if (Object.keys(data).length === 0) return false;

      new Chart(document.getElementById(element_id).getContext('2d'), {
        type: "doughnut",
        data: {
          labels: Object.keys(data),
          datasets: [{
            data: Object.values(data),
            defaultBackgroundColor: [
              'rgba(102, 194, 165, 0.5)',
              'rgba(252, 141, 98, 0.5)',
              'rgba(141, 160, 203, 0.5)',
              'rgba(231, 138, 195, 0.5)',
              'rgba(166, 216, 84, 0.5)',
              'rgba(255, 217, 47, 0.5)',
              'rgba(229, 196, 148, 0.5)',
              'rgba(179, 179, 179, 0.5)',
            ],
            defaultBorderColor: [
              'rgba(102, 194, 165, 1)',
              'rgba(252, 141, 98, 1)',
              'rgba(141, 160, 203, 1)',
              'rgba(231, 138, 195, 1)',
              'rgba(166, 216, 84, 1)',
              'rgba(255, 217, 47, 1)',
              'rgba(229, 196, 148, 1)',
              'rgba(179, 179, 179, 1)',
            ],
            // Used in getColor() to find the position of empty values
            labels: Object.keys(data),
            getColor: function(context, no_value_color) {
              let index = context.dataIndex;
              let label = context.dataset.labels[index];
              let color = context.dataset.defaultBackgroundColor[index];
              return label === "(No value detected)" ? no_value_color : color;
            },
            backgroundColor: function(context) {
              return context.dataset.getColor(context, 'rgba(201, 203, 207, 0.5)');
            },
            borderColor: function(context) {
              return context.dataset.getColor(context, 'white');
            },
            borderWidth: 1
          }]
        }
      });
    }

    makeChart("programming_languages", "programmingLanguageChart");
    makeChart("mime_types", "mimeTypeChart");
    makeChart("holders", "holderChart");
    makeChart("licenses", "licenseChart");
    makeChart("package_orphans", "packageOrphanChart");
    makeChart("package_types", "packageTypeChart");
    makeChart("package_licenses", "packageLicenseChart");
  </script>
{% endblock %}