{% extends "scanpipe/base.html" %}

{% block title %}ScanCode.io: {{ project.name }} - Relations{% endblock %}

{% block content %}
  <div id="content-header" class="container is-max-desktop mb-3">
    {% include 'scanpipe/includes/navbar_header.html' %}
    <section class="mx-5">
      <div class="is-flex is-justify-content-space-between">
        {% include 'scanpipe/includes/breadcrumb.html' with linked_project=True current="Relations" %}
        {% include 'scanpipe/includes/search_field.html' with extra_class="is-small" %}
      </div>
      {% include 'scanpipe/includes/pagination_header.html' %}
      {% include 'scanpipe/includes/filters_breadcrumb.html' with filterset=filter only %}
    </section>
  </div>

  <div class="container is-fluid mb-3">
    <div class="table-container">
      <table class="table is-bordered is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th style="width: 45%">To resource</th>
            <th>
              Match type
              <div style="float: right">
                {% include 'scanpipe/includes/match_type_filter_dropdown.html' %}
              </div>
            </th>
            <th style="width: 45%">From resource</th>
          </tr>
        </thead>
        <tbody>
          {% for resource in object_list %}
            {% for relation in resource.related_from.all %}
              {% if not request.GET.missing_only %}
                <tr>
                  {% if forloop.first %}
                    <td class="break-all" style="min-width: 200px;" rowspan="{{ resource.related_from.all|length }}">
                      <a class="modal-button is-black-link" data-target="file-content-modal" data-raw_url="{{ resource.get_raw_url }}" aria-haspopup="true">
                        <i class="far fa-file"></i>
                      </a>
                      {{ resource.path }}
                    </td>
                  {% endif %}
                  <td>
                    {{ relation.match_type }}
                    {% if relation.extra_data.path_score %}
                      {{ relation.extra_data.path_score }}
                    {% endif %}
                    {% if relation.match_type == "path" %}
                      <a href="/project/{{ project.uuid }}/resources/diff/?pk_a={{ resource.path }}&pk_b={{ relation.from_resource.path }}" target="_blank">diff</a>
                    {% endif %}
                  </td>
                  <td class="break-all" style="min-width: 200px;">
                    {{ relation.from_resource.path }}
                  </td>
                </tr>
              {% endif %}
            {% empty %}
              <tr>
                <td class="break-all has-text-danger" style="min-width: 200px;">
                  <a class="modal-button is-black-link" data-target="file-content-modal" data-raw_url="{{ resource.get_raw_url }}" aria-haspopup="true">
                    <i class="far fa-file"></i>
                  </a>
                  {{ resource.path }}
                </td>
                <td>
                </td>
                <td>
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% if is_paginated %}
      {% include 'scanpipe/includes/pagination.html' with page_obj=page_obj %}
    {% endif %}
  </div>

  {% include 'scanpipe/includes/file_content_modal.html' %}
{% endblock %}