{% extends "scanpipe/base.html" %}

{% block title %}ScanCode.io: {{ project.name }} - Relations{% endblock %}

{% block content %}
  <div id="content-header" class="container is-max-desktop mb-3">
    {% include 'scanpipe/includes/navbar_header.html' %}
    <section class="mx-5">
      <div class="is-flex is-justify-content-space-between">
        {% include 'scanpipe/includes/breadcrumb.html' with linked_project=True current="Relations" %}
        {% include 'scanpipe/includes/search_field.html' with extra_class="is-small" placeholder="Search to/ resources" %}
      </div>
      {% include 'scanpipe/includes/pagination_header.html' %}
      {% include 'scanpipe/includes/filters_breadcrumb.html' with filterset=filter only %}
    </section>
  </div>

  <div class="container is-fluid mb-3">
    <div class="table-container">
      <table class="table is-bordered is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th style="width: 45%">To resource</th>
            <th>
              Match type
              <div style="float: right">
                {% include 'scanpipe/includes/match_type_filter_dropdown.html' %}
              </div>
            </th>
            <th style="width: 45%">From resource</th>
          </tr>
        </thead>
        <tbody>
          {% for resource in object_list %}
            {% for relation in resource.related_from.all %}
              <tr>
                {% if forloop.first %}
                  <td class="break-all" rowspan="{{ resource.related_from.all|length }}">
                    <a href="{{ resource.get_absolute_url }}">{{ resource.path }}</a>
                  </td>
                {% endif %}
                <td>
                  {{ relation.match_type }}
                  {% if relation.extra_data.path_score %}
                    {{ relation.extra_data.path_score }}
                  {% endif %}
                  {% if relation.match_type == "path" %}
                    <a href="/project/{{ project.uuid }}/resources/diff/?pk_a={{ resource.path }}&pk_b={{ relation.from_resource.path }}" target="_blank">diff</a>
                  {% endif %}
                </td>
                <td class="break-all">
                  <a href="{{ relation.from_resource.get_absolute_url }}">{{ relation.from_resource.path }}</a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td class="break-all">
                  <a class="has-text-danger" href="{{ resource.get_absolute_url }}">{{ resource.path }}</a>
                </td>
                <td></td>
                <td></td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% if is_paginated %}
      {% include 'scanpipe/includes/pagination.html' with page_obj=page_obj %}
    {% endif %}
  </div>
{% endblock %}