{% extends "scanpipe/base.html" %}
{% load static humanize %}

{% block title %}ScanCode.io: {{ project.name }} - {{ object.filename }}{% endblock %}

{% block content %}
  <div class="container is-max-desktop">
    {% include 'scanpipe/includes/navbar_header.html' %}
    <div class="mx-5 mb-2">{% include 'scanpipe/includes/messages.html' %}</div>

    <section class="mx-5 mb-3">
      <nav class="breadcrumb is-medium mb-1" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url 'project_list' %}">Projects</a></li>
            <li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
            <li><a href="{% url 'project_resources' project.uuid %}">Codebase Resources</a></li>
        </ul>
      </nav>
    </section>

    <div class="tabs is-toggle is-fullwidth mx-5 mb-3 mt-4">
      <ul>
        <li class="has-text-weight-semibold is-radiusless">
          Detected values:
        </li>
        {% for key, value in detected_values.items %}
          <li>
            <a data-type="{{ key }}" {% if forloop.first %}class="border-left-radius"{% endif %}>
              {{ key|title }}
              <span class="tag is-link is-light is-rounded ml-1">{{ value|length }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <section class="mx-5">
      <div class="message-header">
        <p>
          {{ object.filename }} | {{ object.size|filesizeformat }}<br>
          <span style="font-size: 10px;">{{ object.path }}</span>
        </p>
      </div>
      <div id="editor" style="min-height:730px; border: lightgrey 1px solid;">{{ file_content }}</div>
    </section>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'ace-1.4.12.min.js' %}" crossorigin="anonymous"></script>
  {{ detected_values|json_script:"detected_values" }}
  <script>
    let editor = ace.edit("editor", {
      mode: "ace/mode/text",
      autoScrollEditorIntoView: true,
      wrap: true,
      readOnly: true,
      showPrintMargin: false,
      fontSize: 15,
      foldStyle: "manual",
      fontFamily: "SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace",
    });

    function getAll(selector) {
      return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
    }

    function removeAllMarkers() {
      let session = editor.getSession();
      let markers = session.getMarkers();
        for (const [key, value] of Object.entries(markers)) {
          session.removeMarker(value.id);
        }
    }

    // Range(startRow, startColumn, endRow, endColumn)
    const Range = require("ace/range").Range

    function setDetectedValues(detected_data) {
      let annotations = [];
      removeAllMarkers();

      detected_data.forEach(function ($el) {
        // Indexes a 0-based in ace.js
        let start_row = $el.start_line - 1;
        let start_column = 0;
        let end_row = $el.end_line - 1;
        let end_column = 10000;

        let range = new Range(start_row, start_column, end_row, end_column);
        editor.session.addMarker(range, 'ace-marker', 'line');  // "fullLine" also available

        annotations.push({
          row: start_row,
          column: 0,
          text: $el.text,
          type: $el.type,
        });
      });

      editor.getSession().setAnnotations(annotations);
    }

    const $selectionButtons = getAll('.tabs a');

    let detected_values = JSON.parse(document.querySelector("#detected_values").textContent);

    if ($selectionButtons.length > 0) {
      $selectionButtons.forEach(function ($el) {
        $el.addEventListener('click', function () {
          let active_li = document.querySelector("li.is-active");
          if (active_li) active_li.classList.remove("is-active");
          $el.parentElement.classList.add("is-active");

          let type = $el.getAttribute("data-type");
          let detected_data = detected_values[type];
          if (detected_data) {
            setDetectedValues(detected_data);
          }
          else {
            removeAllMarkers();
            editor.getSession().setAnnotations([]);
          }
        });
      });
    }
  </script>
{% endblock %}