<ul>
  {% for node in children %}
    <li
        {% if node.is_vulnerable %} data-is-vulnerable="true"{% endif %}
        {% if node.has_compliance_issue %} data-compliance-alert="true"{% endif %}
    >
      {% if node.children %}
        <details class="my-1" open>
          <summary>
            {% include 'scanpipe/tree/dependency_node.html' with node=node only %}
          </summary>
          {% include 'scanpipe/tree/dependency_children.html' with children=node.children only %}
        </details>
      {% else %}
        {% include 'scanpipe/tree/dependency_node.html' with node=node only %}
      {% endif %}
    </li>
  {% endfor %}
</ul>