<div class="columns mb-5 mx-1">
    <div class="column is-two-third">
        <p class="title is-5">Input License Text</p>
<!--         {% for text in detected_licenses.complete_text_in_array %}
        <section class="match-container box" style="white-space: pre-wrap; max-height: 70vh; overflow: scroll;">
            {{ text|safe }}
        </section>
        {% endfor %} -->
        <section class="match-container box" style="white-space: pre-wrap; max-height: 70vh; overflow: scroll;">
            {{ detected_licenses.complete_text|safe }}
        </section>

    </div>
    <div class="column is-one-third">
        <article class="panel is-info">
            <div class="panel-heading py-2 px-4">
                <p>Detected Licenses</p>
            </div>
            {% for license in detected_licenses.licenses %}
            <p class="panel-tabs">
                {% for rule in license.rules %}
                <a class="">{{ rule }}</a>
                {% endfor %}
            </p>
            <table class="license-table table is-striped is-hoverable mx-1">
                <tbody>
                    <tr>
                        <td><strong>Key</strong></td>
                        <td>{{ license.key }}</td>
                    </tr>
                    <tr>
                        <td><strong>Score</strong></td>
                        <td>{{ license.score }}</td>
                    </tr>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td>{{ license.name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Lines</strong></td>
                        <td>{% if license.start_line == license.end_line %} Line {{ license.start_line }} {% else %} Lines {{ license.start_line }} - {{ license.end_line }} {% endif %}</td>
                    </tr>
                    <tr>
                        <td><strong>Owner</strong></td>
                        <td>{{ license.owner }}</td>
                    </tr>
                    <tr>
                        <td><strong>Category</strong></td>
                        <td>{{ license.category }}</td>
                    </tr>
                    <tr>
                        <td><strong>Reference</strong></td>
                        <td><a href="{{ license.reference_url }}" target="_blank">{{ license.reference_url }}</a></td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
        </article>
    </div>
</div>
