{% load humanize %}
<nav class="level is-mobile">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Percentage Of License Text</p>
            <p class="title">
              <span>{{ detected_licenses.percentage_of_license_text }}</span>
            </p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">License Expressions</p>
            <p class="title">
              <span>{{ detected_licenses.license_matches|length }}</span>
            </p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Licenses</p>
            <p class="title">
              <span>{{ detected_licenses.license_keys_count }}</span>
            </p>
        </div>
    </div>
</nav>