<div class="modal license-details-modal">
  <div class="modal-background"></div>
  <div class="modal-card" style="margin-top: 10vh">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ license.license_expression }}</p>
      <button class="delete license-details-close-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body is-4by4">
      <table class="table is-striped is-hoverable is-fullwidth is-size-6">
            <tbody>
                <tr>
                    <td><strong>Score</strong></td>
                    <td>{{ license.score }}</td>
                </tr>
                <tr>
                    <td><strong>Matched Line(s)</strong></td>
                    <td>{% if license.start_line == license.end_line %} {{ license.start_line }} {% else %} {{ license.start_line }} - {{ license.end_line }} {% endif %}</td>
                </tr>
                <tr>
                    <td><strong>Rule Identifier</strong></td>
                    <td>
                    {% if license.rule_text_url %}
                        <a href="{{ license.rule_text_url }}" target="_blank">{{ license.rule_identifier }}</a>
                    {% else %}
                        {{ license.rule_identifier }}
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><strong>Matcher</strong></td>
                    <td>{{ license.matcher }}</td>
                </tr>
                <tr>
                    <td><strong>Match Coverage</strong></td>
                    <td>{{ license.match_coverage }}</td>
                </tr>
                <tr>
                    <td><strong>Matched Length</strong></td>
                    <td>{{ license.matched_length }}</td>
                </tr>
                <tr>
                    <td><strong>Key(s)</strong></td>
                    <td>
                    {% for key in license.licenses %}
                        <a href="{{ key.reference_url }}" target="_blank"><span class="mr-2">{{ key.key }}</span></a>
                    {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td><strong>Rule Relevance</strong></td>
                    <td>{{ license.rule_relevance }}</td>
                </tr>
                <tr>
                    <td><strong>Rule Length</strong></td>
                    <td>{{ license.rule_length }}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-outlined  has-text-weight-semibold">
        {% include 'scantext/includes/license_report.html' with license=license %}
      </button>
    </footer>
  </div>
</div>