{% for license in detected_licenses.licenses %}
<div class="licenses-card">
    <div class="card-header is-flex is-justify-content-space-between">
        <div class="card-header-title" title="{{ license.short_name }}">
            {% if license.homepage_url %}
            <a href="{{ license.homepage_url }}" title="{{ license.name }} ({{ license.short_name }})">{{ license.short_name }}</a> {% else %} {{ license.short_name }} {% endif %}
        </div>
        <div class="is-flex is-justify-content-row is-align-items-center">
            <p class="lines tag is-6 mx-1 is-light is-info">
                {% if license.start_line == license.end_line %} Line {{ license.start_line }} {% else %} Lines {{ license.start_line }} - {{ license.end_line }} {% endif %}
            </p>
            <p class="tag is-6 mx-1 is-light 
                  {% if license.score == 100 %} is-success {% else %} is-warning {% endif %}">{{ license.score }}</p>
            <p class="card-header-icon" aria-label="more options">
                <span class="icon">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </p>
        </div>
    </div>
    <div class="card-content is-hidden">
        <div class="content">
            <div class="is-flex is-justify-content-space-between">
                <div>
                    <p class="subtitle is-5">Matched Text</p>
                </div>
                <div>
                    <p class="tag is-6 mx-1 is-light is-primary">{{ license.category }}</p>
                    <a class="tag is-6 mx-1 is-light is-link" href="{{ license.reference_url }}">ref</a>
                    <p class="tag is-6 mx-1 is-light is-info">
                        {% if license.start_line == license.end_line %} Line {{ license.start_line }} {% else %} Lines {{ license.start_line }} - {{ license.end_line }} {% endif %}
                    </p>
                </div>
            </div>
            <article class="message is-dark" style="max-height: 30vh; overflow-y: scroll;">
                <div class="message-body" style="white-space: pre-wrap;">
                    {{ license.matched_text }}
                </div>
            </article>
        </div>
    </div>
</div>
{% endfor %}
