{% load humanize %}
<nav class="level is-mobile">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Percentage Of License Text</p>
            <p class="title">
              <span>{{ detected_licenses.percentage_of_license_text }}</span>
            </p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">License Expressions</p>
            <p class="title">
                <!-- TODO: clean up this from views -->
                <!-- licenses are every license inside a match ex: MIT, Apache-2.0 are 2 licenses -->
                <!-- license_expressions are all the rules ex: "MIT OR Apache-2.0" is one expression -->
              <span>{{ detected_licenses.license_matches|length }}</span>
            </p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Licenses</p>
            <p class="title">
              <span>{{ detected_licenses.license_keys_count }}</span>
            </p>
        </div>
    </div>
</nav>
