<div class="columns mb-5 mx-1">
    <div class="column is-one-third" style="max-height: 50vh;">
        <p class="title is-5">Detected Licenses</p>
        <div class="panel is-light is-shadowless">
        {% for license in detected_licenses.license_matches %}
            <div class="panel-block licenses-card is-flex is-justify-content-space-between p-0">
                <div class="card-header-title">{{ license.license_expression }}</div>
                <div class="is-flex is-justify-content-row is-align-items-center">
                    <p class="tag is-6 mx-1 is-light {% if license.score == 100 %} is-success {% else %} is-warning {% endif %}">{{ license.score }}</p>
                    <div class="dropdown is-hoverable">
                        <p class="card-header-icon">
                            <span class="icon">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </p>
                        <div class="dropdown-menu">
                            <div class="dropdown-content py-0">
                                <table class="panel-block table is-striped is-size-6 is-hoverable mb-0" style="white-space: nowrap;">
                                    <tr>
                                        <td><strong>License Expression</strong></td>
                                        <td>{{ license.license_expression }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Score</strong></td>
                                        <td>{{ license.score }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Matched Line(s)</strong></td>
                                        <td>{% if license.start_line == license.end_line %}{{ license.start_line }}{% else %}{{ license.start_line }}-{{ license.end_line }} {% endif %}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Matched Length</strong></td>
                                        <td>{{ license.matched_length }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Matched Coverage</strong></td>
                                        <td>{{ license.match_coverage }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Matcher</strong></td>
                                        <td>{{ license.matcher }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Rule Identifer</strong></td>
                                        <td>{{ license.rule_identifier }}</td>
                                    </tr>
                                </table>
                                <div class="panel-heading py-2 is-size-7 is-dark is-flex is-justify-content-space-between has-background-white">
                                    <span class="license-details-btn has-text-link" style="cursor: pointer;">View more details</span>
                                    {% include 'scantext/includes/license_detail_modal.html' with license=license %}
                                    <!-- report license hyperlink -->
                                    {% include 'scantext/includes/license_report.html' with license=license %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="column is-two-third">
        <p class="title is-5">Input Text</p>
        <div class="license-match">{% for token in detected_licenses.license_tokens %}<span class="matched{{ token.match_ids.0 }}" 
            title="{{ token.match_ids.0 }}">{{ token.value }}</span>{% endfor %}</div>
    </div>
</div>