<div class="columns mb-5 mx-1">
    <div class="column is-two-third">
        <p class="title is-5">Input License Text</p>
        {% for text in detected_licenses.complete_text_in_array %}
        <section class="match-container box" style="white-space: pre-wrap; max-height: 70vh; overflow: scroll;">
            {{ text|safe }}
        </section>
        {% endfor %}
    </div>
    <div class="column is-one-third">
        <article class="panel is-info">
            <div class="panel-heading is-flex is-justify-content-space-between is-align-items-center py-0 px-3">
                <p>Detected Licenses</p>
                <div>
                    <button class="button px-2 previous-btn is-info"><i class="fas fa-arrow-up"></i></button>
                    <button class="button px-2 next-btn is-info"><i class="fas fa-arrow-down"></i></button>
                </div>
            </div>
            {% for license in detected_licenses.licenses %}
            <table class="license-table table is-fullwidth">
                <tbody>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td>{{ license.name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Score</strong></td>
                        <td>{{ license.score }}</td>
                    </tr>
                    <tr>
                        <td><strong>Owner</strong></td>
                        <td>{{ license.owner }}</td>
                    </tr>
                    <tr>
                        <td><strong>Category</strong></td>
                        <td>{{ license.category }}</td>
                    </tr>
                    <tr>
                        <td><strong>SPDX Key</strong></td>
                        <td>{{ license.spdx_license_key }}</td>
                    </tr>
                    <tr>
                        <td><strong>Reference</strong></td>
                        <td><a href="{{ license.reference_url }}" target="_blank">{{ license.reference_url }}</a></td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
        </article>
    </div>
</div>
