<div class="mb-5 mx-1">
    <div class="column is-two-third">
        <p class="title is-5">Detected Licenses</p>
    </div>
    {% for license in detected_licenses.license_matches %}
    <article class="panel is-info">
        <div class="panel-heading py-2 px-4">
            <p>{{ license.license_expression }}</p>
        </div>
        <table class="license-table table is-striped is-bordered is-hoverable is-fullwidth">
            <tbody>
                <tr>
                    <td><strong>Score</strong></td>
                    <td>{{ license.score }}</td>
                    <td><strong>Matched Line(s)</strong></td>
                    <td>{% if license.start_line == license.end_line %} {{ license.start_line }} {% else %} {{ license.start_line }} - {{ license.end_line }} {% endif %}</td>
                    <td><strong>Rule Identifier</strong></td>
                    <td>
                    {% if license.rule_text_url %}
                        <a href="{{ license.rule_text_url }}" target="_blank">{{ license.rule_identifier }}</a>
                    {% else %}
                        {{ license.rule_identifier }}
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><strong>Matcher</strong></td>
                    <td>{{ license.matcher }}</td>
                    <td><strong>Match Coverage</strong></td>
                    <td>{{ license.match_coverage }}</td>
                    <td><strong>Matched Length</strong></td>
                    <td>{{ license.matched_length }}</td>
                <tr>
                    <td><strong>Key(s)</strong></td>
                    <td>
                    {% for key in license.licenses %}
                        <a href="{{ key.reference_url }}" target="_blank"><span class="mr-2">{{ key.key }}</span></a>
                    {% endfor %}
                    </td>
                    <td><strong>Rule Relevance</strong></td>
                    <td>{{ license.rule_relevance }}</td>
                    <td><strong>Rule Length</strong></td>
                    <td>{{ license.rule_length }}</td>
                </tr>
            </tbody>
        </table>
    </article>
    {% endfor %}
</div>