<div id="add-pipeline-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Add pipeline</p>
      <button class="delete" type="button" aria-label="close"></button>
    </header>
    <form method="post">{% csrf_token %}
      <section class="modal-card-body">
        <div class="field">
          <label class="label" for="{{ add_pipeline_form.pipeline.id_for_label }}">Pipeline</label>
          <div class="control">
            <span class="select">
              {{ add_pipeline_form.pipeline }}
            </span>
          </div>
        </div>
        <div class="field">
          <label class="checkbox" for="{{ add_pipeline_form.execute_now.id_for_label }}">
            {{ add_pipeline_form.execute_now }}
            {{ add_pipeline_form.execute_now.label }}
          </label>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button id="add-pipeline-button" class="button is-link is-no-close" type="submit">Add pipeline</button>
        <button class="button" type="button">Close</button>
      </footer>
    </form>
  </div>
</div>