<section class="mx-5 mb-3">
  <h1 class="is-size-5 break-all has-text-weight-semibold has-text-grey-darker">
    {{ object_title }}
  </h1>
  <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'project_list' %}" class="has-text-grey">Projects</a></li>
      <li><a href="{{ project.get_absolute_url }}" class="has-text-grey">{{ project.name }}</a></li>
      <li><a href="{% url url_name project.uuid %}" class="has-text-grey">{{ model_label }}</a></li>
    </ul>
  </nav>
</section>