<nav class="breadcrumb is-medium mb-1" aria-label="breadcrumbs">
  <ul>
    {% if not project %}
      <li class="is-active"><a href="#" aria-current="page">Projects</a></li>
    {% else %}
      <li><a href="{% url 'project_list' %}">Projects</a></li>
      {% if linked_project %}
        <li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
      {% endif %}
      {% if current %}
        <li class="is-active"><a href="#" aria-current="page">{{ current }}</a></li>
      {% else %}
        <li class="is-active"><a href="#" aria-current="page">{{ project.name }}</a></li>
      {% endif %}
    {% endif %}
  </ul>
</nav>