<section class="mx-5 mb-3">
  <nav class="breadcrumb is-medium has-succeeds-separator mb-1" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'project_list' %}" class="has-text-grey">Projects</a></li>
      <li><a href="{{ project.get_absolute_url }}" class="has-text-grey">{{ project.name }}</a></li>
      {% if url_name %}
        <li><a href="{% url url_name project.slug %}" class="has-text-grey">{{ model_label|title }}</a></li>
      {% endif %}
    </ul>
  </nav>
  {% if object_title %}
    <h1 class="is-size-5 break-all has-text-weight-semibold">
      {{ object_title }}
      {% include 'scanpipe/includes/admin_edit_link.html' %}
    </h1>
  {% elif template_title %}
    {% include template_title %}
  {% endif %}
</section>