<nav class="breadcrumb has-succeeds-separator is-medium mb-1" aria-label="breadcrumbs">
  <ul>
    {% if not project %}
      <li class="is-active">Projects</li>
    {% else %}
      <li><a href="{% url 'project_list' %}" class="has-text-grey">Projects</a></li>
      {% if linked_project %}
        <li><a href="{{ project.get_absolute_url }}" class="has-text-grey">{{ project.name }}</a></li>
      {% endif %}
      {% if current %}
        <li><a href="{{ request.path }}" class="has-text-dark has-text-weight-semibold" aria-current="page">{{ current }}</a></li>
      {% else %}
        <li class="is-active"><a href="#" aria-current="page">{{ project.name }}</a></li>
      {% endif %}
    {% endif %}
  </ul>
</nav>