{% load humanize %}
<div class="tabs is-toggle is-toggle-rounded is-centered">
  <ul>
    <li{% if file_filter == "all" %} class="is-active"{% endif %}>
      <a href="?file-filter=all#charts">
        All Files <span class="tag is-rounded ml-1">{{ project.file_count|intcomma }}</span>
      </a>
    </li>
    <li{% if file_filter == "in-a-package" %} class="is-active"{% endif %}>
      <a href="?file-filter=in-a-package#charts">
        In a Package <span class="tag is-rounded ml-1">{{ project.file_in_package_count|intcomma }}</span>
      </a>
    </li>
    <li{% if file_filter == "not-in-a-package" %} class="is-active"{% endif %}>
      <a href="?file-filter=not-in-a-package#charts">
        NOT in a Package <span class="tag is-rounded ml-1">{{ project.file_not_in_package_count|intcomma }}</span>
      </a>
    </li>
  </ul>
</div>