{# TODO: Replace by proper field and template #}
<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <a aria-haspopup="true" aria-controls="id_status">
      <i class="fas fa-filter"></i>
    </a>
  </div>
  <div class="dropdown-menu" id="id_status" role="menu">
    <div class="dropdown-content">
      <a href="?status=" class="dropdown-item">
        All
      </a>
      <a href="?status=none" class="dropdown-item">
        No status
      </a>
      <a href="?status=any" class="dropdown-item">
        Any status
      </a>
      <a href="?status=mapped" class="dropdown-item">
        mapped
      </a>
      <a href="?status=matched-to-purldb" class="dropdown-item">
        matched-to-purldb
      </a>
      <a href="?status=no-java-source" class="dropdown-item">
        no-java-source
      </a>
      <a href="?status=ignored-meta-inf" class="dropdown-item">
        ignored-meta-inf
      </a>
      <a href="?status=too-many-matches" class="dropdown-item">
        too-many-matches
      </a>
      <a href="?status=ignored-empty-file" class="dropdown-item">
        ignored-empty-file
      </a>
      <a href="?status=ignored-filename" class="dropdown-item">
        ignored-filename
      </a>
      <a href="?status=ignored-extension" class="dropdown-item">
        ignored-extension
      </a>
      <a href="?status=ignored-path" class="dropdown-item">
        ignored-path
      </a>
    </div>
  </div>
</div>