<div class="field is-grouped is-grouped-multiline mt-3">
  {% for filter in filterset.get_filters_breadcrumb %}
    {% if forloop.first %}<span class="mr-2">Filters:</span>{% endif %}
    <div class="control">
      <div class="tags has-addons">
        <a class="tag is-link">
          {{ filter.label }}: "{{ filter.value|truncatechars:40 }}"
        </a>
        <a class="tag is-delete" href="?{% if filter.remove_url %}{{ filter.remove_url }}{% else %}all=true{% endif %}"></a>
      </div>
    </div>
  {% endfor %}
</div>