<article id="license-clarity-panel" class="panel is-info">
  <p class="panel-heading py-2 is-size-6">
    License clarity
  </p>
  <div class="panel-block p-0">
    <table class="table is-fullwidth border-bottom-radius">
      {% for entry in license_clarity %}
        <tr>
          <th>
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <span class="is-help-text">{{ entry.label }}</span>
              </div>
              <div class="dropdown-menu ml-5" role="menu" style="min-width: 18rem;">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                    {{ entry.help_text }}
                  </div>
                </div>
              </div>
            </div>
          </th>
          <td class="has-text-centered">
            {% if entry.value is True %}
              <i class="fas fa-check-circle fa-lg has-text-success-dark"></i>
            {% elif entry.value is False %}
              <i class="far fa-circle fa-lg"></i>
            {% else %}
              <span class="tag is-dark has-text-weight-bold">{{ entry.value }}</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</article>