<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <a aria-haspopup="true" aria-controls="dropdown-match-type-filer">
      <i class="fas fa-filter"></i>
    </a>
  </div>
  <div class="dropdown-menu" id="dropdown-match-type-filer" role="menu">
    <div class="dropdown-content">
      <a href="?" class="dropdown-item">
        All
      </a>
      <a href="?relation_match_type=none" class="dropdown-item">
        No match
      </a>
      <a href="?relation_match_type=any" class="dropdown-item">
        Any match
      </a>
      <a href="?relation_match_type=java_to_class" class="dropdown-item">
        Java to class
      </a>
      <a href="?relation_match_type=path" class="dropdown-item">
        Path
      </a>
      <a href="?relation_match_type=sha1" class="dropdown-item">
        SHA1
      </a>
    </div>
  </div>
</div>