<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <a aria-haspopup="true" aria-controls="dropdown-match-type-filer">
      <i class="fas fa-filter"></i>
    </a>
  </div>
  <div class="dropdown-menu" id="dropdown-match-type-filer" role="menu">
    <div class="dropdown-content">
      <a href="?" class="dropdown-item">
        All
      </a>
      <a href="?missing_only=1" class="dropdown-item">
        No match
      </a>
      <a href="?related_from__match_type=java_to_class" class="dropdown-item">
        java_to_class
      </a>
      <a href="?related_from__match_type=path" class="dropdown-item">
        path
      </a>
      <a href="?related_from__match_type=sha1" class="dropdown-item">
        sha1
      </a>
    </div>
  </div>
</div>