<nav class="navbar is-dark mb-5 border-bottom-radius" role="navigation" aria-label="main navigation">
  <div class="navbar-brand ml-3">
    <a class="navbar-item is-size-4 has-text-weight-bold" href="/">
      ScanCode<span class="nexb-orange">.</span>io
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="https://scancodeio.readthedocs.org/" target="_blank">
        Documentation
      </a>
      <a class="navbar-item" href="{% url 'project-list' %}">
        API
      </a>
    </div>
  </div>
</nav>