<nav class="level mt-4">
  <p class="level-item has-text-centered">
    <a class="link is-info" href="/">
      Home
    </a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" href="https://github.com/nexB/scancode.io" target="_blank">
      GitHub
    </a>
  </p>
  <h1 class="level-item has-text-centered is-size-3 has-text-weight-semibold">
    ScanCode<span class="nexb-orange">.</span>io
  </h1>
  <p class="level-item has-text-centered">
    <a class="link is-info" href="https://scancodeio.readthedocs.org/" target="_blank">
      Documentation
    </a>
  </p>
  <p class="level-item has-text-centered">
    <a class="link is-info" href="{% url 'project-list' %}">
      API
    </a>
  </p>
</nav>