<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link is-arrowless">
    <i class="fa-solid fa-circle-half-stroke" aria-hidden="true"></i>
  </a>
  <div class="navbar-dropdown js-themes">
    <a class="navbar-item is-sun" data-scheme="light" aria-label="Light mode">
      <span class="icon mr-1">
        <i class="fa-solid fa-sun" aria-hidden="true"></i>
      </span>
      <span>Light</span>
    </a>
    <a class="navbar-item is-moon" data-scheme="dark" aria-label="Dark mode">
      <span class="icon mr-1">
        <i class="fa-solid fa-moon" aria-hidden="true"></i>
      </span>
      <span>Dark</span>
    </a>
    <a class="navbar-item is-system" data-scheme="system" aria-label="System mode">
      <span class="icon mr-1">
        <i class="fa-solid fa-desktop" aria-hidden="true"></i>
      </span>
      <span>System</span>
    </a>
  </div>
</div>