{% load humanize %}
<table class="table is-bordered is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Packages</th>
      <th>Dependencies</th>
      <th>Resources</th>
      <th>Errors</th>
      <th>Pipelines</th>
      <th style="width:41px;"></th>
    </tr>
  </thead>
  <tbody>
  {% for project in projects %}
    <tr>
      <th class="break-all">
        <a href="{{ project.get_absolute_url }}">{{ project }}</a>
        <span class="has-text-grey is-size-7 is-block" title="{{ project.created_date|date:'N j, Y, P T' }}">Created {{ project.created_date|naturaltime }}</span>
      </th>
      <td>
        {% if project.package_count %}
          <a href="{% url 'project_packages' project.uuid %}">
            {{ project.package_count|intcomma }}
          </a>
        {% else %}
          <span>
            {{ project.package_count|intcomma }}
          </span>
        {% endif %}
      </td>
      <td>
        {% if project.dependency_count %}
          <a href="{% url 'project_dependencies' project.uuid %}">
            {{ project.dependency_count|intcomma }}
          </a>
        {% else %}
          <span>
            {{ project.dependency_count|intcomma }}
          </span>
        {% endif %}
      </td>
      <td>
        {% if project.resource_count %}
          <a href="{% url 'project_resources' project.uuid %}">
            {{ project.resource_count|intcomma }}
          </a>
        {% else %}
          <span>
            {{ project.resource_count|intcomma }}
          </span>
        {% endif %}
      </td>
      <td>
        {% if project.error_count %}
          <a href="{% url 'project_errors' project.uuid %}">
            {{ project.error_count|intcomma }}
          </a>
        {% else %}
          <span>
            {{ project.error_count|intcomma }}
          </span>
        {% endif %}
      </td>
      <td>
        {% for run in project.runs.all %}
          <div class="is-flex is-justify-content-space-between {% if not forloop.first %}mt-1{% endif %}">
            <span class="mr-1">{{ run.pipeline_name }}</span>
            <a class="modal-button" data-target="run-detail-modal" data-uuid="{{ run.uuid }}" aria-haspopup="true">
              {% include "scanpipe/includes/run_status_tag.html" with run=run only %}
            </a>
          </div>
        {% endfor %}
      </td>
      <td>
        {% include "scanpipe/includes/project_download_dropdown.html" with project=project only %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>