<div class="dropdown">
  <div class="dropdown-trigger">
    <a class="is-size-7 has-text-grey">+ Add labels</a>
  </div>
  <div class="dropdown-menu" role="menu" style="min-width: 16rem;">
    <div class="dropdown-content">
      <div class="dropdown-item">
        <div class="field">
          <label class="label is-small">Add label</label>
          <div class="control">
            <input class="input is-small" type="text" placeholder="Label name">
          </div>
        </div>
        <button type="submit" class="button is-small is-link is-outlined is-fullwidth">
          Add label
        </button>
      </div>
    </div>
  </div>
</div>