<div class="dropdown is-hoverable is-right">
  <div class="dropdown-trigger">
    <a aria-haspopup="true" aria-controls="dropdown-download-{{ project.uuid }}">
      <i class="fas fa-download"></i>
    </a>
  </div>
  <div class="dropdown-menu" id="dropdown-download-{{ project.uuid }}" role="menu">
    <div class="dropdown-content">
      <span class="dropdown-item">
        Download results as:
      </span>
      <a href="{% url 'project_results' project.uuid 'json' %}" class="dropdown-item">
        <strong>JSON</strong>
      </a>
      <a href="{% url 'project_results' project.uuid 'xlsx' %}" class="dropdown-item">
        <strong>XLSX</strong>
      </a>
      <a href="{% url 'project_results' project.uuid 'spdx' %}" class="dropdown-item">
        <strong>SPDX</strong>
      </a>
      <a href="{% url 'project_results' project.uuid 'cyclonedx' %}" class="dropdown-item">
        <strong>CycloneDX</strong>
      </a>
    </div>
  </div>
</div>