<article class="message is-success">
  <div class="message-body p-3">
    <span class="icon"><i class="fa-solid fa-download"></i></span>
    Download results:
    <a class="tag is-success is-medium ml-2" href="{% url 'project_results' project.slug 'json' %}">
      JSON
    </a>
    <a class="tag is-success is-medium" href="{% url 'project_results' project.slug 'xlsx' %}">
      XLSX
    </a>
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button tag is-success is-medium has-text-weight-normal" aria-haspopup="true" aria-controls="dropdown-menu-spdx">
          <span>SPDX</span>
          <span class="icon is-small">
            <i class="fa-solid fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu-spdx" role="menu">
        <div class="dropdown-content">
          <a href="{% url 'project_results' project.slug 'spdx' '2.3' %}" class="dropdown-item has-text-weight-semibold">
            Spec 2.3 <span class="tag is-link ml-1">Latest</span>
          </a>
          <a href="{% url 'project_results' project.slug 'spdx' '2.2' %}" class="dropdown-item">
            Spec 2.2
          </a>
        </div>
      </div>
    </div>
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button tag is-success is-medium has-text-weight-normal" aria-haspopup="true" aria-controls="dropdown-menu-cyclonedx">
          <span>CycloneDX</span>
          <span class="icon is-small">
            <i class="fa-solid fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu-cyclonedx" role="menu">
        <div class="dropdown-content">
          <a href="{% url 'project_results' project.slug 'cyclonedx' '1.6' %}" class="dropdown-item has-text-weight-semibold">
            Spec 1.6 <span class="tag is-link ml-1">Default</span>
          </a>
          <a href="{% url 'project_results' project.slug 'cyclonedx' '1.7' %}" class="dropdown-item">
            Spec 1.7
          </a>
          <a href="{% url 'project_results' project.slug 'cyclonedx' '1.5' %}" class="dropdown-item">
            Spec 1.5
          </a>
          <a href="{% url 'project_results' project.slug 'cyclonedx' '1.4' %}" class="dropdown-item">
            Spec 1.4
          </a>
        </div>
      </div>
    </div>
    <a class="tag is-success is-medium" href="{% url 'project_results' project.slug 'attribution' %}">
      Attribution
    </a>
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button tag is-success is-medium has-text-weight-normal" aria-haspopup="true" aria-controls="dropdown-menu-ort">
          <span>Tools formats</span>
          <span class="icon is-small">
            <i class="fa-solid fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu-ort" role="menu">
        <div class="dropdown-content">
          <a href="{% url 'project_results' project.slug 'ort-package-list' %}" class="dropdown-item has-text-weight-semibold">
            ORT package-list.yml
          </a>
        </div>
      </div>
    </div>
    <span class="p-1">|</span>
    <a class="tag is-success is-medium" href="{% url 'project_results' project.slug 'all_formats' %}">
      All formats
    </a>
  </div>
</article>