{% spaceless %}
<h1 class="is-size-5 break-word">
  {% for segment, subpath, is_extract in object.get_path_segments_with_subpath %}
    {% if not forloop.last %}
      {% if is_extract %}
        <a class="has-text-weight-semibold" href="{% url 'resource_detail' project.slug subpath %}">{{ segment }}</a>
        <a href="{% url 'project_resources' project.slug %}?search={{ subpath }}-extract">-extract</a>
      {% else %}
        <a href="{% url 'project_resources' project.slug %}?search={{ subpath }}">{{ segment }}</a>
      {% endif %}
      <span class="mx-1">/</span>
    {% else %}
      <span class="has-text-weight-semibold">{{ segment }}{% if is_extract %}-extract{% endif %}</span>
    {% endif %}
  {% endfor %}
  {% include 'scanpipe/includes/admin_edit_link.html' %}
  <button class="copy-to-clipboard has-text-grey ml-2 is-size-6" aria-label="Copy path" data-copy="{{ object.path }}" data-copy-feedback="Resource path copied!">
    <i class="fa-regular fa-copy"></i>
  </button>
</h1>
{% endspaceless %}