<article id="scan-summary-panel" class="panel is-info">
  <p class="panel-heading py-2 is-size-6">
    Scan summary
  </p>
  <div class="panel-block p-0">
    <table class="table is-fullwidth border-bottom-radius">
      {% for field_label, values in scan_summary.items %}
        <tr>
          <th>{{ field_label }}</th>
          <td>
            <ul>
              {% for entry in values %}
                <li>{{ entry.value }} {% if entry.count %}({{ entry.count }}){% endif %}</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</article>