<form method="get">
  <p class="control has-icons-left">
    <input class="input {{ extra_class }}" type="text" placeholder="Search {{ filter.verbose_name_plural }}" name="{{ filter.form.search.name }}" value="{{ filter.form.search.value|default_if_none:'' }}">
    <span class="icon is-small is-left">
      <i class="fas fa-search"></i>
    </span>
  </p>
  {% for field_name, value in filter.params_for_search.items %}
    <input type="hidden" name="{{ field_name }}" value="{{ value }}">
  {% endfor %}
</form>