<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button is-success is-small mr-1" aria-haspopup="true" aria-controls="dropdown-menu-action">
      <span class="icon mr-1">
        <i class="fa-solid fa-download"></i>
      </span>
      Export
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu-action" role="menu">
    <div class="dropdown-content">
      <a href="?{{ export_xlsx_url_query }}" class="dropdown-item">
        <i class="fa-solid fa-file-excel mr-2"></i>Export results as XLSX
      </a>
      <a href="?{{ export_json_url_query }}" class="dropdown-item">
        <i class="fa-solid fa-file-code mr-2"></i>Export results as JSON
      </a>
    </div>
  </div>
</div>