<div id="list-actions-dropdown" class="dropdown is-right is-hoverable is-disabled">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" disabled>
      <span>Actions</span>
      <span class="icon is-small">
        <i class="fa-solid fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" role="menu">
    <div class="dropdown-content">
      <ul>
        <li><a href="#" class="dropdown-item">Archive</a></li>
        <li><a href="#" class="dropdown-item">Reset</a></li>
        <li><a href="#" class="dropdown-item">Delete</a></li>
        </ul>
    </div>
  </div>
</div>