[Desktop Entry]
Type=Application
Icon=python
Name=scancodeio
Path=bin
Exec=python3.10 ../opt/scancodeio/manage.py %F
Terminal=true
Categories=Application;
Keywords=Python;
