[Desktop Entry]
Type=Application
Icon=python
Name=scancodeio
Exec=./usr/bin/python3.10 ./share/scancodeio/manage.py %F
Terminal=true
Categories=Application;
Keywords=Python;
