<article id="inputs-panel" class="panel is-dark">
  <p class="panel-heading">
    Inputs
  </p>
  {% for input_source in input_sources %}
    <div class="panel-block is-justify-content-space-between is-up">
      <div class="break-all pr-2 is-cursor-help dropdown is-hoverable is-wider-x2">
        <div class="panel-icon pt-1">
          <div class="dropdown-trigger">
            <i class="is-size-6 {% if input_source.is_file %}fa-regular fa-file{% else %}fa-solid fa-folder{% endif %}" aria-hidden="true" aria-haspopup="true" aria-controls="dropdown-input-{{ file.filename|slugify }}"></i>
          </div>
          <div class="dropdown-menu" id="dropdown-input-{{ file.filename|slugify }}" role="menu">
            <div class="dropdown-content">
              <div class="dropdown-item">
                Source:
                <strong>
                  {% if input_source.is_uploaded %}
                    Uploaded
                  {% elif input_source.download_url %}
                    {{ input_source.download_url }}
                  {% else %}
                    Manually added
                  {% endif %}
                  </strong>
              </div>
            </div>
          </div>
        </div>
        {% if input_source.filename %}
          {{ input_source.filename }}
        {% else %}
          {{ input_source.download_url }}
        {% endif %}
      </div>
      <div class="is-flex is-size-7">
        {% if input_source.is_file and input_source.size %}
          <span class="mr-1">{{ input_source.size|filesizeformat }}</span>
        {% endif %}
        {% if input_source.download_url %}
          <a class="copy-to-clipboard is-grey-link is-clickable mr-1" title="Copy URL" aria-label="Copy URL" data-copy="{{ input_source.download_url }}" data-copy-feedback="URL copied!">
            <span class="icon width-1 height-1">
              <i class="fa-regular fa-copy"></i>
            </span>
          </a>
        {% endif %}
        {% if input_source.is_file and input_source.exists and input_source.filename %}
          <a class="is-grey-link is-clickable" href="{% url 'project_download_input' project.slug input_source.filename %}"><span class="icon width-1 height-1"><i class="fa-solid fa-download"></i></span></a>
        {% endif %}
        {% if project.can_change_inputs and input_source.uuid %}
          <a class="modal-button is-grey-link is-clickable ml-1" data-target="modal-inputs-delete" aria-haspopup="true" data-url="{% url 'project_delete_input' project.slug input_source.uuid %}" data-filename="{{ input_source.filename }}" href="#"><i class="fa-regular fa-trash-can"></i></a>
        {% endif %}
        {% if input_source.uuid %}{# File added in directory manually, no InputSource object available #}
          <a class="modal-button is-grey-link is-clickable ml-1" data-input-source-uuid="{{ input_source.uuid }}" data-tag-value="{{ input_source.tag }}" data-target="edit-input-tag-modal" aria-haspopup="true">
            <span class="icon width-1 height-1"><i class="fa-solid fa-tag"></i></span>
          </a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  <div class="panel-block">
    {% if project.can_change_inputs %}
      <button class="button is-link {% if input_sources %}is-outlined{% endif %} is-fullwidth modal-button" data-target="add-inputs-modal" aria-haspopup="true">Add inputs</button>
      {% include "scanpipe/modals/add_inputs_modal.html" %}
    {% else %}
      <button class="button is-link is-outlined is-fullwidth" disabled>Add inputs</button>
    {% endif %}
  </div>
</article>
{% if project.can_change_inputs %}
  {% include 'scanpipe/modals/project_inputs_delete_modal.html' %}
{% endif %}