<nav id="codebase-navigation" class="panel is-dark">
  <div class="panel-heading is-flex is-justify-content-space-between is-align-items-center">
    <div>
      <span>Codebase</span>
    </div>
    <a href="{% url 'project_resource_tree' project.slug %}" class="ml-2 has-text-white has-text-decoration-none">
      <i class="fa-solid fa-folder-tree mr-1"></i>Tree view
    </a>
  </div>
  {% for node in codebase_root_tree %}
    <a class="panel-block" href="{% url 'project_resource_tree' project.slug node.name %}">
      <span class="panel-icon">
        <i class="{% if node.is_dir %}fa-solid fa-folder{% else %}fa-regular fa-file{% endif %}"></i>
      </span>
      {{ node.name }}
    </a>
  {% endfor %}
</nav>