{% load humanize %}

<div id="right-pane">
  <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead class="is-sticky">
      <tr>
        {% if select_all %}
          <th class="p-2">
            <input type="checkbox" id="select-all">
          </th>
        {% endif %}
        {% for column in columns_data %}
          <th id="column-{{ column.field_name }}" {% if column.css_class %}class="{{ column.css_class }}"{% elif column.field_name in filter.data.sort %}class="nowrap"{% endif %}>
            <div class="is-flex is-justify-content-space-between">
              <div>
                {% if column.sort_query %}
                  {% include 'scanpipe/includes/filter_sort.html' with column=column is_htmx=True project=project path=path only %}
                {% else %}
                  {{ column.label }}
                {% endif %}
              </div>
              {% if column.filter %}
                <div class="ml-1">
                  {% include 'scanpipe/dropdowns/filter_dropdown_choices_field.html' with filter=column.filter is_right=True is_htmx=True project=project path=path only %}
                </div>
              {% endif %}
            </div>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% if resources %}
        {% for resource in resources %}
          <tr>
            <td class="break-all" style="min-width: 200px;">
              {% if resource.type == "directory" %}
                {{ resource.path }}
              {% else %}
                <a href="{% url 'resource_detail' project.slug resource.path %}">{{ resource.path }}</a>
              {% endif %}
            </td>
            <td>
              {{ resource.status }}
            </td>
            <td>
              {{ resource.type }}
            </td>
            <td>
              {% if resource.type != "directory" %}
                {{ resource.size|filesizeformat|default_if_none:"" }}
              {% endif %}
            </td>
            <td class="break-all" style="min-width: 100px;">
              {{ resource.name }}
            </td>
            <td>
              {{ resource.extension }}
            </td>
            <td class="break-all">
              {{ resource.programming_language }}
            </td>
            <td class="break-all">
              {{ resource.mime_type }}
            </td>
            <td>
              {{ resource.tag }}
            </td>
            <td>
              {{ resource.detected_license_expression }}
            </td>
            <td>
              {{ resource.compliance_alert }}
            </td>
            <td>
              {% if resource.discovered_packages.all %}
                {% for package in resource.discovered_packages.all|slice:"0:3" %}
                  <a href="{% url 'project_packages' project.slug %}?purl={{ package.package_url }}">{{ package }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% if resource.discovered_packages.all|length > 3 %}
                  +{{ resource.discovered_packages.all|length|add:"-3" }} more
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="100%" style="background: none; border: none; padding: 2rem 0;" class="has-text-centered">
            <div class="icon is-large has-text-grey-light mb-3">
              <i class="fas fa-folder-open fa-3x"></i>
            </div>
            <p class="has-text-grey">
              {% if path %}
                No resources found in this directory.
              {% else %}
                Select a file or folder from the tree to view its contents.
              {% endif %}
            </p>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  {% if is_paginated %}
    <nav class="pagination is-centered mt-4" role="navigation">
      {% if page_obj.has_previous %}
        <a class="pagination-previous"
           hx-get="{% url 'codebase_resource_table' project.slug %}?{% for key, value in request.GET.items %}{% if key != 'page' and value %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}"
           hx-target="#right-pane">Previous</a>
      {% endif %}
      {% if page_obj.has_next %}
        <a class="pagination-next"
           hx-get="{% url 'codebase_resource_table' project.slug %}?{% for key, value in request.GET.items %}{% if key != 'page' and value %}{{ key }}={{ value|urlencode }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}"
           hx-target="#right-pane">Next page</a>
      {% endif %}
      <ul class="pagination-list">
        <li><span class="pagination-ellipsis">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span></li>
      </ul>
    </nav>
  {% endif %}
</div>