{% load humanize %}
{% if resource_status_summary %}
  <div class="column is-half">
    <nav class="panel is-dark">
      <p class="panel-heading">
        Resources status
      </p>
      {% for status, count in resource_status_summary.items %}
        <a class="panel-block is-align-items-flex-start break-word" href="{{ project_resources_url }}?status={{ status|default:'_EMPTY_' }}" target="_blank">
          {{ status|default:'<i>no status</i>' }}
          <span class="tag is-rounded ml-1">{{ count|intcomma }}</span>
        </a>
      {% endfor %}
    </nav>
  </div>
{% endif %}