name: CI

on: [push, pull_request]

env:
  DB_NAME: scancodeio
  DB_USER: scancodeio
  DB_PASSWORD: scancodeio

jobs:
  build:
    runs-on: ubuntu-20.04

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: ${{ env.DB_NAME }}
          POSTGRES_USER: ${{ env.DB_USER }}
          POSTGRES_PASSWORD: ${{ env.DB_PASSWORD }}
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.6]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          make dev
          make envfile

      - name: Validate code format
        run: make check

      - name: Run tests
        run: bin/python manage.py test --settings=scancodeio.settings.base --verbosity=2 --noinput
        env:
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
          SCANCODEIO_DB_NAME: ${{ env.DB_NAME }}
          SCANCODEIO_DB_USER: ${{ env.DB_USER }}
          SCANCODEIO_DB_PASSWORD: ${{ env.DB_PASSWORD }}
          # Run tasks in the current thread, no need for workers in CI mode
          CELERY_TASK_ALWAYS_EAGER: True
